body {
  font-family: "PT Sans Narrow", "Lato", sans-serif;
  -webkit-overflow-scrolling: touch;
  /*overflow-x:scroll;*/
  /*font-size: 25px;*/
  overflow-y: scroll;
}

html {
  /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/

}

.mheader {
  position: fixed;
  background:rgba(238,110,115,1.0);
  width: 100%;
  height: 45px;
  z-index: 99;
}

.placeholder {
  height: 45px;
  width:100%;
  z-index: 1;
}

.mcontent {
  height: calc(100vh - 130px);
  position: absolute;
  top: 75px;
  background-color: white;
  border-radius: 1em;
  width: 94%;
  /*margin-top: 30px;*/
  margin-left: 3%;
  margin-right: 3%;
  /*margin-bottom: 5px;*/
  overflow-y: hidden;
}

.mcontent-title{
  z-index: 3;
}
.pushpin{
  height: 50px;
}

.table-head-min {
  min-width: 160px;
}
 /*Class for when element is above threshold*/
 .pin-top {
   position: relative;
 }

 /*Class for when element is below threshold*/
 .pin-bottom {
   position: relative;
 }

 /*Class for when element is pinned*/
 .pinned {
   position: fixed;
 }

 /*.pinned > .mcontent{
   position: relative;
   top: 150px;
 }*/

 html, body {
  height: 100%;
}

.block {
  height: calc(100vh - 45px);
  /*height: 100%;*/
  position: relative;
  top:0;
}

.display{
  /*height: 300%;*/
  height: calc(3 * (100vh - 40px));
  position: relative;
  /*width: 100%;*/
  top:45px;
  /*z-index: 999;*/
}

.top {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}

.doe-color {

  /*blue-grey lighten-4*/
  background-color: #cfd8dc;
}

.pmc-color {
  /*yellow lighten-4*/
  background-color: #b0bec5;
}

.ft-color {
   /*lime lighten-4*/
  background-color:#90a4ae;
}

.stu-color {
  /*light-green lighten-4*/
  background-color:#78909c;
}

.mamge-color {
  background-color:#6c818c;
}

.info-text {
  font-size: 1em;
  color: black;
  line-height: 15px;
}
.info-text-short {
  font-size: 1em;
  color: black;
  line-height: 2.5em;
  margin-bottom:10px;
}
.card-stacked{
  margin-bottom: 10px;
  /*background: #e8f5e9;*/
  background: white;
}

.info-cell {
  border-radius: 0.6em;
}

.info-cell-short{
  height:200px;
  /*margin-right: 10px;*/
}

.info-cell-short td{
  padding: 2px 5px;
  font-size: 1em;
}

.info-cell-short th{
  padding: 2px 5px;
}

.info-cell-tall{
  height: 250px;
}

.line-height-tall {
  line-height: 1em;
  font-size: 1.2em;
}

.line-height-tall td {
  /*max-width: 10%;*/
}

.greyback{
  background-color: #f5f5f5;
}

.zero_margin{
  margin-bottom: 0;
}

.margin-top-small{
  padding-top: 20px;
}

.margin-top-large{
  padding-top: 110px;
}

.detail_top {
  margin-top: 15px;
}

.stu_photo{
  background: url("../trump.png") no-repeat center;
  /*background: red;*/
  background-size: cover;
  /*margin:2%;*/
  /*width: 90%;*/
  height: 100%;
  /*marigin*/
  /*border-radius: 0.5em;*/
}

.horizontal-left {
  padding-left:0px;
}
.horizontal-right {
  padding-right:0px;
}

#myChart{
  max-width: 250px;
  max-height: 250px;
}
h6,h5 {
  text-align: left;
  color: rgba(238,110,115,1.0);
  /*color:#2bbbad;*/
}

.teamCell{
  height:260px;
  /*background: white;*/

  border-radius: 0.5em;
  padding: 2px;
  /*border: 1px solid black;*/
  color: black;
}

.teamCell th{
  padding: 5px 5px;
  text-align: center;
}

.teamCell td{
  padding: 5px 5px;
  text-align: center;
}

.teamCell tr{
  max-height: 82px;
}

.teamCell table{
  max-height: 260px;
}

.teamCell .btn{
  width: 90%;
}
.sort{
  color: rgba(238,110,115,0.7);
}

td {
  max-width: 620px;
  line-height: 1.5em;
  word-wrap: break-word;
}

.teamfunc {
  /*height: 30px;*/
}

.team-btn{
  /*margin: auto;*/
  height:40px;
  /*display: inline-block;*/
}
.team-btn a{
  /*margin-bottom: 20px;*/
}

.alltextright{
  text-align: right;
  font-size: 1.2em;
}
.alltextright th {
  text-align: left;
  line-height: 20px;

  /*padding-left: 10%;
  padding-right: 10%;*/
  ming-width: 30%;
  /*max-width: 25%;*/
}
.alltextright td {
  padding-left: 5%;
  text-align: left;
  /*max-width: 35%;*/
}

th {
  color: rgba(238,110,115,0.8);
}



/*the following is sort todo css*/
th {
/*background-color: #42b983;*/
color: rgba(238,110,115,0.7);
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

td {
/*background-color: #f9f9f9;*/
}

/*th, td {*/
/*min-width: 120px;*/
/*padding: 10px 20px;*/
/*}*/

th.active {
/*color: #fff;*/
color: rgba(238,110,115,1.0);
}

th.active .arrow {
opacity: 1;
}

.arrow {
display: inline-block;
vertical-align: middle;
width: 0;
height: 0;
margin-left: 5px;
opacity: 0.66;
}

.arrow.asc {
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-bottom: 4px solid #fff;
}

.arrow.dsc {
border-left: 4px solid transparent;
border-right: 4px solid transparent;
border-top: 4px solid #fff;
}

.btn {
  width: 130px;
  /*padding: 0 1rem;*/
}

.destroy {
  /*color: rgba(238,110,115,0.6);*/
  /*position: relative;
  right: 0px;*/
  width: 50%;
  display: inline-block;
  font-size: 1em;
  position: relative;
	/*display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;*/
	/*transition: color 0.2s ease-out;*/
}
.destroy i{
  color: rgba(238,110,115,0.6);
  position: absolute;
  /*right: 0px;*/
  top: -23px;
  font-size: 35px;
}
.todo-list-medium {
  table-layout: fixed;
  max-height: 300px;
  overflow-y:auto;
  width: 100%;
}

.todo-list-high {
  table-layout: fixed;
  max-height: 500px;
  overflow-y:auto;
  width: 100%;
}

.todo-list-head th{
  /*text-align: left;*/
}

.modecontrol {
  padding-right: 0px;
  text-align: right;
  width: 200px;
}

.date {
  width: 95px;
  min-width: 80px;
}
/*.todo-list-high table {
  table-layout: fixed;
  border-collapse: collapse;
}
.todo-list-high thead tr{
  display: block;
  position: relative;
}

.todo-list-high tbody {
  display: block;
    overflow: auto;
    width: 100%;
}*/
#logcontorller .btn {
  padding: 0 1rem;
}
.destroy i:hover{
  color:rgba(238,110,115,1.0);
}

.medium-text {
  font-size: 1.2em;
}

.background{
  background-color: #455a64;
}

.padding-side {
  padding-left: 10px;
  padding-right: 10px;
}

.PMC {
  background-color: rgba(219,255,212,0.5);
}

.ADMIN {
  background-color: rgba(255,247,212,0.5);
}

.DOE {
  background-color: rgba(212,240,255,0.5);
}
