<template>
  <div>
    <h5>Student Activity Tracker</h5>
    <div class="row">
      <div class="col s8">
        <canvas v-bind:id="hour_id"></canvas>
      </div>
      <div class="col s4">
        <table class="info-text line-height-tall">
          <tr><td>Total Hours:</td><td>{{totalhour}}</td></tr>
          <tr><td>Volunteer Hours:</td><td>{{totalvolunteer}}</td></tr>
          <tr><td>Happiest Activity:</td><td>{{happiestActivity}}</td></tr>
          <tr><td>Most Popular:</td><td>{{mostpopular}}</td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <table class="info-text line-height-tall">
          <tr><th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Achieve at National or International Level, built over long period of time">Tier1 ratio:</a></th><td>{{tierratio[0]}}%</td></tr>
          <tr><th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Best in activity at local or regional e.g. President">Tier2 ratio:</a></th><td>{{tierratio[1]}}%</td></tr>
          <tr><th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Some distinction that's not #1 e.g. Vice President">Tier3 ratio:</a></th><td>{{tierratio[2]}}%</td></tr>
          <tr><th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Participation or member status only">Tier4 ratio:</a></th><td>{{tierratio[3]}}%</td></tr>
        </table>
      </div>
      <div class="col s8">
        <canvas v-bind:id="tier_id"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
  import Chart from 'chart.js'
  export default {
    props: {
      hour_id:String,
      tier_id:String,
      tier_label:Array,
      hours:Array,
      happis:Array,
      tiers:Array,
      label:Array
    },
    data() {
      var color = Chart.helpers.color;
      return {
        chart:null,
        tierchar:null,
        tierratio:[0,0,0,0],
          config:{
            type: 'pie',
            data:{
              labels: this.label,
              datasets: [
                {
                  data: this.hours,
                  backgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56",
                    "#33cccc",
                    "#ff9933"
                  ],
                  hoverBackgroundColor: [
                    "#FF6384",
                    "#36A2EB",
                    "#FFCE56",
                    "#33cccc",
                    "#ff9933"
                  ]
                }]
            },
            options: {
              animation:{
                animateScale:true
              },
              legend:{
                position:'left'
              }
            }
          },
          tier_config:{
            data: {
              datasets: [{
                data: this.tiers,
                backgroundColor: [
                  color("#FF6384").alpha(0.5).rgbString(),
                  color("#36A2EB").alpha(0.5).rgbString(),
                  color("#FFCE56").alpha(0.5).rgbString(),
                  color("##33cccc").alpha(0.5).rgbString()
                ],
                label: 'My dataset' // for legend
              }],
              labels: this.tier_label
            },
            options: {
              responsive: true,
              legend: {
                position: 'right',
              },
              scale: {
                ticks: {
                  beginAtZero: true
                },
                reverse: false
              },
              animation: {
                animateRotate: false,
                animateScale: true
              }
            },
            type:'polarArea'
          }
      };
    },
    computed:{
      totalhour:function () {
        let total = 0;
        this.hours.forEach((key)=>{
            total += key;
        });
        return total;
      },
      totalvolunteer:function () {
        return this.hours[2];
      },
      happiestActivity:function () {
        let happiest = 0;
        this.happis.forEach((happ,index,array) => {
            if (happ > array[happiest]) {
                happiest = index;
            }
        });
        return this.label[happiest];
      },
      mostpopular:function () {
        let pop = 0;
        this.hours.forEach((hour,index,array) => {
            if (hour > array[pop]) {
                pop = index;
            }
        });
        return this.label[pop];
      }
    },
    watch:{
        hours:function (val) {
//          this.drawPie();
          console.log('watch hours: ',val);
          if (!val) {
            return;
          }
          this.chart.data.datasets[0].data.forEach((hour,index,arr)=>{
            arr.splice(index,1,val[index]);
          });
          console.log(this.chart.data.datasets[0].data);
          this.chart.update();
        },
        tiers:function (val) {
          console.log('watch tiers: ',val);
          if (!val) {
            return;
          }
          let total = 0;
          this.tierchar.data.datasets[0].data.forEach((t,index,arr)=>{
            arr.splice(index,1,val[index]);
            total += parseInt(val[index]);
          });
          console.log(this.tierchar.data.datasets[0].data);
          this.tierchar.update();
          this.calculateRatio(total);
        }
    },
    methods:{
      drawPie:function () {
        if (!this.chart) {
          var ctx = $('#'+this.hour_id);
//          this.config.da
          this.chart = new Chart(ctx,this.config);
          var tierctx = $('#'+this.tier_id);
          this.tierchar = new Chart(tierctx,this.tier_config);
        }
      },
      calculateRatio:function (total) {
        this.tierratio.forEach((ra,index,arr) => {
          arr.splice(index,1,this.ratio(this.tiers[index],total));
        });
      },
      ratio:function (ra,total) {
        if (typeof(ra) != 'number') {
          ra = parseInt(ra);
        }
        if (typeof(total) != 'number') {
          total = parseInt(total);
        }
        return Math.floor(ra * 100 /total);
      }
    },
    mounted() {
      this.drawPie();
      $('.tooltipped').tooltip({delay: 50});
    },
  }

</script>

<style>
  .chart{
    marigin: 0 auto,
  }
</style>
