<template>
  <div>
    <div class="col s12 m6">
      <ul class="collapsible info-cell" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">library_add</i>Current School</div>
          <div class="collapsible-body">
            <table>
              <tbody>
              <tr>
                <th>School English Name</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td>
              </tr><tr>
                <th>School Chinese Name</th>
                <td>{{BackgroundInfo.school_chinese_name || 'N.A.'}}</td>
              </tr><tr>
                <th>School Chinese Pinyin</th>
                <td>{{BackgroundInfo.school_chinese_pinyin || 'N.A.'}}</td>
              </tr>
              <tr><th>School Address</th><td>{{BackgroundInfo.school_address || 'N.A.'}}</td></tr>
              <tr><th>School Phone</th><td>{{BackgroundInfo.school_phone || 'N.A.'}}</td></tr>
              <tr><th>School Type of Attendance</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th>Current Grade Level</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th>Current Grade</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th>Dates of Attendance</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th >Principal</th></tr><tr><th>Principal English Name</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th>Principal Chinese Pinyin</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              <tr><th>Principal Chinese Name</th><td>{{BackgroundInfo.school_english_name || 'N.A.'}}</td></tr>
              </tbody>
            </table>
          </div>
        </li>

        <li>
          <div class="collapsible-header active"><i class="material-icons">library_add</i>Previous School</div>
          <div class="collapsible-body">
            <table>
              <tbody>
              <tr><th>School English Name</th><td>N.A</td></tr>
              <tr><th>School Chinese Name</th><td>N.A</td></tr>
              <tr><th>School Chinese Pinyin</th><td>N.A</td></tr>
              <tr><th>School Address</th><td>N.A</td></tr>
              <tr><th>School Phone</th><td>N.A</td></tr>
              <tr><th>School Type of Attendance</th><td>N.A</td></tr>
              <tr><th>School Grades Completed</th><td></td></tr>
              <tr><th>School Start Date</th><td>N.A</td></tr>
              <tr><th>School End Date</th><td>N.A</td></tr>
              <tr ><th >Principal </th></tr><tr ><th>Principal English Name</th><td>N.A</td></tr>
              <tr><th>Principal Chinese Name</th><td>N.A</td></tr>
              <tr><th>Principal Chinese Name</th><td>N.A</td></tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible info-cell" data-collapsible="expandable">
        <li>
          <div class="collapsible-header active"><i class="material-icons">assignment_ind</i>Personal Experience</div>
          <div class="collapsible-body">
            <table>
              <tbody>
              <tr><th>Ever skipped a grade?</th><td>N.A</td></tr>
              <tr><th>Ever repeated a grade?</th><td>N.A</td></tr>
              <tr><th>Ever been withdrawn or dismissed from <br>an academic institution or program?</th><td>wjm </td></tr>
              <tr><th>Ever received severe disciplinary action <br>at school or from the community?</th><td>wjm </td></tr>
              <tr><th>Any learning difficulties?</th><td>wjm </td></tr>
              <tr><th>College Courses taken</th><td>undefined</td></tr>
              <tr><th>AP Courses taken</th><td>undefined</td></tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header active"><i class="material-icons">assignment</i>Family Biographical Infomation</div>
          <div class="collapsible-body">
            <table>
              <tbody>
              <tr><th>Current Live with</th><td></td></tr>
              <tr><th >Main parent</th><td></td></tr>
              <tr><th>Relationship</th><td>N.A</td></tr>
              <tr><th>Chinese_name</th><td>N.A</td></tr>
              <tr><th>Family_name</th><td>N.A</td></tr>
              <tr><th>Given_name</th><td>N.A</td></tr>
              <tr><th>English_name</th><td>N.A</td></tr>
              <tr><th>Preferred_name</th><td>N.A</td></tr>
              <tr><th>Relationship_status</th><td>N.A</td></tr>
              <tr><th>Birthday</th><td>N.A</td></tr>
              <tr><th>Birth City</th><td>N.A</td></tr>
              <tr><th>Citizenship</th><td>N.A</td></tr>
              <tr><th>Address</th><td></td></tr>
              <tr><th>Phone</th><td>N.A</td></tr>
              <tr><th>Email</th><td>N.A</td></tr>
              <tr><th>Wechat</th><td>N.A</td></tr>
              <tr><th>Skype</th><td>N.A</td></tr>
              <tr><th>Work</th><td>N.A</td></tr>
              <tr><th >Company Info</th><td></td></tr>
              <tr><td>Chinese Pinying: undefined</td></tr>
              <tr><th >Degree</th><td></td></tr>
              <tr><td>Degree: N.A </td></tr>
              <tr><td>Chinese Pinying: undefined</td></tr>
              <tr><th >Siblings: </th><td>N.Apage </td></tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default{
    props:{
      BackgroundInfo:Object
    }
  }
</script>


<style>
  .collapsible tr {
    height: 1em;
  }

  .collapsible td{
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .collapsible th{
    padding-top: 5px;
    padding-bottom: 0px;
  }

</style>
