<template>
  <div v-bind:id="id" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="striped" v-for="(value,key) in badges" v-bind:id="key" v-if="isShown===key">
          <tbody>
          <tr v-for="b in value" v-bind:id="b.code" v-bind:class="[isChecked(b.code) ? 'check':'uncheck']">
            <a>
              <td><i v-bind:class="b.icon" aria-hidden="true" ></i></td>
              <td>{{b.name}}</td>
              <td>{{b.description}}</td>
            </a>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
  import {EventBus} from '../eventhub'
  import StudentService from '../services/StudentService'

  export default {
    props:{
      id:String,
      badges:Object,
    },
    data:function () {
      return {
        isShown:'',
        gain:[],
      }
    },
    methods:{
      isChecked:function (id) {
        return this.gain.indexOf(id) !== -1;
      }
    },
    created() {
      // this is trigger whenever someone click a box in badge table
      // data is the name of the box
      EventBus.$on('ShowBadges',data=>{
//        console.log('show this badges: ',data);
        this.isShown = data;
      });

      // this is trigger when user detail information retrieve from database
      // data is the badges that student obtained so far
      EventBus.$on('GainBadges',data=>{
//        console.log('gain these badges:',data);
        this.gain = data;
      });
    },
    beforeDestory() {
        EventBus.$off('ShowBadges');
        EventBus.$off('GainBadges');
    }
  }
</script>

<style>
  .check{
    color: black;
  }
  .check td {
    color: black;
  }

  .uncheck{
    color: #90a4ae;
  }
  .uncheck td{
    color: #90a4ae;
  }

</style>
