<template>
  <div>
    <topbar></topbar>
    <main-panel :badgemodalid="badgemodalid"></main-panel>
    <badge-modal :id="badgemodalid" :badges="this.badges"></badge-modal>
  </div>
</template>

<script>
  import Topbar from './Topbar'
  import MainPanel from './MainPanel'
  import BadgeModal from './BadgeModal'
  export default {
    components: {
      Topbar,
      MainPanel,
      BadgeModal
    },
    data:function () {
      return {
        badgemodalid:"badgemodal",
        badges:{
          "pm":[
            {
              "code":"a1",
              "icon":"fa fa-dropbox picsnap",
              "name":"GoogleCalendar app--Planning Ahead",
              "description":"XXXXX"
            },
            {
              "code":"a2",
              "icon":"fa fa-dropbox picsnap",
              "name":"GoogleCalendar app--Making a To-Do List (e.g. Homework)",
              "description":"XXXXX"
            },
            {
              "code":"a3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Paper Editing Etiquette",
              "description":"XXXXX"
            },
            {
              "code":"a4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Organized Break Plans",
              "description":"XXXXX"
            },
            {
              "code":"a5",
              "icon":"fa fa-dropbox picsnap",
              "name":"No Cancelled Meetings! --Badge for every half term",
              "description":"XXXXX"
            }
          ],
          "ps":[
            {
              "code":"b1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Job/Internship Interview (Mock)",
              "description":"XXXXX"
            },
            {
              "code":"b2",
              "icon":"fa fa-dropbox picsnap",
              "name":"College Admissions Interview (Mock)",
              "description":"XXXXX"
            },
            {
              "code":"b3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Campaigning Etiquette",
              "description":"XXXXX"
            }
          ],
          "ei":[
            {
              "code":"c1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Beginner",
              "description":"XXXXX"
            },
            {
              "code":"c2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Intermediate",
              "description":"XXXXX"
            },
            {
              "code":"c3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Advance",
              "description":"XXXXX"
            },
            {
              "code":"c4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter App",
              "description":"XXXXX"
            }
          ],
          "me":[
            {
              "code":"d1",
              "icon":"fa fa-dropbox picsnap",
              "name":"1 Year with MGE; 2 Years with MGE",
              "description":"XXXXX"
            },
            {
              "code":"d2",
              "icon":"fa fa-dropbox picsnap",
              "name":"1 Term with MGE; 2 Terms with MGE",
              "description":"XXXXX"
            },
            {
              "code":"d3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Chose Interest of Study for MGE Customized Student Program",
              "description":"XXXXX"
            },
            {
              "code":"d4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Networking--MGE Introduce to 1 Person in Field of Interest ",
              "description":"XXXXX"
            }
          ],
          "ex":[
            {
              "code":"e1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Volunteer Hour Milestones",
              "description":"XXXXX"
            },
            {
              "code":"e2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Volunteermatch",
              "description":"XXXXX"
            },
            {
              "code":"e3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Joined New Club/Organization",
              "description":"XXXXX"
            },
            {
              "code":"e4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Joined New Sport/Physical Activity",
              "description":"XXXXX"
            },
            {
              "code":"e5",
              "icon":"fa fa-dropbox picsnap",
              "name":"Established a New Club/Organization",
              "description":"XXXXX"
            },
            {
              "code":"e6",
              "icon":"fa fa-dropbox picsnap",
              "name":"Organized a Charity Drive ",
              "description":"XXXXX"
            }
          ],
          "ac":[
            {
              "code":"f1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Collegeboard",
              "description":"XXXXX"
            },
            {
              "code":"f2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Collegematch",
              "description":"XXXXX"
            },
            {
              "code":"f3",
              "icon":"fa fa-paperclip picsnap",
              "name":"Register--Wyzant",
              "description":"XXXXX"
            },
            {
              "code":"f4",
              "icon":"fa fa-bars picsnap",
              "name":"Registered Online Course(s)",
              "description":"XXXXX"
            },
            {
              "code":"f5",
              "icon":"fa fa-bars picsnap",
              "name":"Draft UC Personal Statement Answers",
              "description":"XXXXX"
            },
            {
              "code":"f6",
              "icon":"fa fa-bars picsnap",
              "name":"Academic ePortfolio",
              "description":"XXXXX"
            },
            {
              "code":"f7",
              "icon":"fa fa-users picsnap",
              "name":"Completed One University Program as an Outside Student",
              "description":"XXXXX"
            },
            {
              "code":"f8",
              "icon":"fa fa-users picsnap",
              "name":"Attended School University Fair",
              "description":"XXXXX"
            },
            {
              "code":"f9",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Region",
              "description":"XXXXX"
            },
            {
              "code":"f10",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Majors/Minors",
              "description":"XXXXX"
            },
            {
              "code":"f11",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Housing",
              "description":"XXXXX"
            },
            {
              "code":"f12",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Facilities",
              "description":"XXXXX"
            }
          ],
          "we":[
            {
              "code":"g1",
              "icon":"fa fa-dropbox picsnap",
              "name":"WeChat Etiquette",
              "description":"XXXXX"
            },
            {
              "code":"g2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Resume Creation",
              "description":"XXXXX"
            }
          ],
          "qt":[
            {
              "code":"h1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Took Career Quiz",
              "description":"XXXXX"
            },
            {
              "code":"h2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Took Personality Quiz",
              "description":"XXXXX"
            },
            {
              "code":"h3",
              "icon":"fa fa-question picsnap",
              "name":"Broke Creation Scores and/or PRS",
              "description":"XXXXX"
            },
            {
              "code":"h4",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- TOFEL",
              "description":"XXXXX"
            },
            {
              "code":"h5",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- SAT",
              "description":"XXXXX"
            },
            {
              "code":"h6",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- ACT",
              "description":"XXXXX"
            }
          ],
          "mi":[
            {
              "code":"i1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Personal Blog",
              "description":"XXXXX"
            },
            {
              "code":"i2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Driver's Ed",
              "description":"XXXXX"
            },
            {
              "code":"i3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Behind the Wheel Test",
              "description":"XXXXX"
            }
          ]
        },
      }
    },
    mounted() {
      $('.modal').modal();
    }
  }
</script>
