<template>
  <div class="todo-list-high col s12">
    <table class="todo-list-head">
      <thead>
        <tr>
          <th class="table-head-min" v-for="(key,index) in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key}">
            {{ names[index] | capitalize}}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'"></span>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="(entry,index) in filteredData">
          <td>{{entry.meet_date}}</td>
          <td>{{entry.detail.name}}</td>
          <td>{{entry.detail.position}}</td>
          <td>{{entry.hours}}</td>
          <td>{{entry.detail.describe}}</td>
          <td>{{entry.type}}</td>
          <td>{{entry.happi}}</td>
          <td>{{entry.tier}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>

  export default {
    props: {
      data:Array,
      columns: Array,
      names:Array,
      filterKey: String,
      role:String
    },
    data: function () {
      var sortOrders = {}

      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      })

      return {
        sortKey: '',
        sortOrders: sortOrders,
//        editedTodo: null,
      }
    },
    computed: {
      filteredData: function () {
        var sortKey = this.sortKey
        var filterKey = this.filterKey && this.filterKey.toLowerCase()
        var order = this.sortOrders[sortKey] || 1
        var data = this.data
        // console.log(data);
        if (filterKey) {
          data = data.filter(function (row) {
            return Object.keys(row).some(function (key) {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          data = data.slice().sort(function (a, b) {
            if (sortKey === 'position' || sortKey === 'name' || sortKey === 'describe') {
              a = a['detail'][sortKey];
              b = b['detail'][sortKey];
            } else {
              a = a[sortKey];
              b = b[sortKey];
            }
            console.log(a,b,a>b);
//            console.log(a[sortKey],b[sortKey],a[sortKey] > b[sortKey]);
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        return data
      },
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      },
      notificate: function(str) {
        return str == true ? 'Todo' : 'Done';
      }
    },
    methods: {
      sortBy: function (key) {
        this.sortKey = key
        this.sortOrders[key] = this.sortOrders[key] * -1
        // console.log(this.sortOrders);
      },
      checkinNout:function(data){
        // this.data[index].active = this.data[index].active == true ? false : true;
        data.active = data.active ? false : true;
      },
    },
    directives: {
      focus: function (el, binding) {
        // console.log(el);
        if (binding.value) {
          el.focus()
        }
      }
    }
  }
</script>
