<template>
  <div>
    <h5 >Happy Meter</h5>
    <div>
      <canvas class='polar' v-bind:id="id"></canvas>
    </div>
    <div>
      <span class="center score">Average Score:{{average}}</span>
      <div class="progress">
        <div class="determinate" v-bind:style="{'width':percent}"></div>
      </div>
    </div>

  </div>
</template>

<script>
  import Chart from 'chart.js'

  export default {
    props:{
      id:String,
      happi:Array,
      len:Number,
      label:Array,
    },
    data() {
      var color = Chart.helpers.color;
        return {
          config:{
            data: {
              datasets: [{
                data: this.happi,
                backgroundColor: [
                  color("#FF6384").alpha(0.5).rgbString(),
                  color("#36A2EB").alpha(0.5).rgbString(),
                  color("#FFCE56").alpha(0.5).rgbString(),
                  color("##33cccc").alpha(0.5).rgbString(),
                  color("#ff9933").alpha(0.5).rgbString(),
                ],
                label: 'My dataset' // for legend
              }],
              labels: this.label
            },
            options: {
              responsive: true,
              legend: {
                position: 'top',
              },
              scale: {
                ticks: {
                  beginAtZero: true
                },
                reverse: false
              },
              animation: {
                animateRotate: false,
                animateScale: true
              }
            },
            type:'polarArea'
          },
          chart:null,
        };
    },
    computed:{
        average:function () {
          return (this.sum / this.len).toFixed(2);
        },
        sum:function () {
          let sum = 0;
          this.happi.forEach((val) => {
            sum += val;
          });
          return sum;
        },
        percent:function () {
            let p = (this.sum*20)/(this.len);
            p = Math.floor(p);
            return (p <= 100 ? p : 100) + '%';
        }
    },
    methods:{
      drawPolar:function() {
          if (!this.chart) {
            this.config.data.datasets[0].data = this.happi;
            this.chart = new Chart($('#' + this.id), this.config);
          }
      }
    },
    watch:{
      happi:function (val) {
        this.chart.data.datasets[0].data.forEach((happi,index,arr)=>{
          arr.splice(index,1,val[index]);
        });
        this.chart.update();
      }
    },
    mounted() {
      this.drawPolar();
    }
  }

</script>

<style>
  .polar{
    /*max-width: 370px;*/
    /*max-height: 370px;*/
    min-height: 250px;
    min-width: 250px;
    display: block;
    margin: 0 auto;
    /*width: 100%;*/
  }
  .progress{
    height: 20px;
    /*background-color: red;*/
  }
  .score {
    z-index: 999;
    color: black;
  }
</style>
