<template>
  <div class="center">
    <div class="col s12 padding-up" style="z-index: 1">
      <ul class="tabs" style="border-radius:0.5em;">
        <li class="tab"><a href="#stu_student_tab" class="active medium-text" >Summary</a></li>
        <li class="tab"><a href="#stu_team" class="medium-text">Team</a></li>
        <li class="tab"><a href="#stu_background_info_tab" class="medium-text">Background Info</a></li>
        <li class="tab"><a href="#stu_personal_interests_tab" class="medium-text">Personal Interests</a></li>
        <li class="tab"><a href="#stu_skills_badges_tab" class="medium-text">Skills Badges</a></li>
        <li class="tab"><a href="#stu_extracurricalr_log" class="medium-text">Extracurricular Log</a></li>
        <li class="tab"><a href="#stu_todo_list" class="medium-text">Todo List Log</a></li>
      </ul>
    </div>

    <div id="stu_student_tab" class="col s12 greyback margin-top-large">
      <div class="row detail_top zero_margin">
        <!-- left pannel -->
        <div class="col s6">
          <div class="row">
            <!-- stu photo -->
            <div class="col s6 info-cell-short card-stacked info-cell" style="padding-left:0px;margin-bottom: 10px;">
              <div class=" info-cell stu_photo"></div>
            </div>

            <div class="col s6 info-cell-short" style="padding-right:0px;margin-bottom: 10px;">
              <table class=" card-stacked info-cell responsive-table info-text info-cell-short">
                <tbody class="info-cell-short">
                <tr><th>Name:</th><td>{{detail.stud.bio.family_name}} {{detail.stud.bio.given_name}}</td></tr>
                <tr><th>Chinese Name:</th><td>{{detail.stud.bio.chinese_name}}</td></tr>
                <tr><th>Birthday:</th><td>{{detail.stud.bio.birthday}}</td></tr>
                <tr><th>Counselor:</th><td>{{detail.relation.pmc==null ? 'Not Designated': detail.relation.pmc.name}}</td></tr>
                <tr><th>DOE:</th><td>{{detail.relation.doe==null ? 'Not Designated': detail.relation.doe.name}}</td></tr>
                <tr><th>Family Translator:</th><td>{{detail.relation.ft==null ? 'Not Designated': detail.relation.ft.name}}</td></tr>
                </tbody>
              </table>
            </div>

            <!-- stu address/email/contact -->
            <div class="card-stacked col s12 info-cell ">
              <table class="responsive-table info-text alltextright">
                <tr><th>Home Adderss:</th><td>{{detail.stud.bio.home_street}},{{detail.stud.bio.home_city}},{{detail.stud.bio.home_state}},{{detail.stud.bio.home_zipcode}}</td></tr>
                <tr><th>Current Living Adderss:</th><td>{{detail.stud.bio.street}},{{detail.stud.bio.city}},{{detail.stud.bio.district}},{{detail.stud.bio.zipcode}}</td></tr>
              </table>
              <table class="responsive-table info-text alltextright">
                <tr><th>Email:</th><td>{{detail.stud.bio.email}}</td><th>Phone:</th><td>{{detail.stud.bio.phone}}</td></tr>
                <tr><th>Wechat:</th><td>{{detail.stud.bio.wechat}}</td><th>Skype:</th><td>{{detail.stud.bio.skype}}</td></tr>
                <tr><th>Religion:</th><td>{{detail.stud.bio.religion}}</td><th>Primary Language:</th><td>{{detail.stud.bio.primary_language}}</td></tr>
              </table>
            </div>

            <!-- seperate survey -->
            <div class="card-stacked col s12 info-cell info-text">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header"><i class="material-icons">contacts</i>Grade Portal Access</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s3">
                        <input id="GPA_website" type="text" v-model="detail.stud.gpa.GPA_website">
                        <label class="active" for="GPA_website">website</label>
                      </div>

                      <div class="input-field col s3">
                        <input id="GPA_username" type="text" v-model="detail.stud.gpa.GPA_username">
                        <label class="active" for="GPA_username">Username</label>
                      </div>

                      <div class="input-field col s4">
                        <input id="GPA_password" type="text" v-model="detail.stud.gpa.GPA_password">
                        <label class="active" for="GPA_password">Password</label>
                      </div>
                    </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">question_answer</i>Weekly Meeting Time Availability</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s3">
                        <input id="WMTA_day" type="text" v-model="detail.stud.wma.WMA_day">
                        <label class="active" for="WMTA_day">Day</label>
                      </div>

                      <div class="input-field col s3">
                        <input id="WMTA_time" type="text" v-model="detail.stud.wma.WMA_time">
                        <label class="active" for="WMTA_time">Time</label>
                      </div>

                      <div class="input-field col s4">
                        <input id="WMTA_location" type="text" v-model="detail.stud.wma.WMA_location">
                        <label class="active" for="WMTA_location">Location</label>
                      </div>

                    </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">receipt</i>Holland Career Code</div>
                  <div class="collapsible-body">
                    <form action="https://www.onetonline.org/explore/interests-go" method="GET">
                      <div class="row">

                        <div class="input-field col s2">
                          <input id="HCC_1" type="text" name="i1" v-model="detail.stud.vom.VoM_username">
                          <label class="active" for="HCC_1">Code</label>
                        </div>
                        <div class="input-field col s2">
                          <input id="HCC_2" type="text" name="i2" v-model="detail.stud.vom.VoM_username">
                          <label class="active" for="HCC_2">Code</label>
                        </div>
                        <div class="input-field col s2">
                          <input id="HCC_3" type="text" name='i3' v-model="detail.stud.vom.VoM_username">
                          <label class="active" for="HCC_3">Code</label>
                        </div>

                        <div class="input-field col s4">
                          <!--<input id="VoM_password" type="text" v-model="detail.stud.vom.VoM_password">-->
                          <!--<label class="active" for="VoM_password">Password</label>-->
                          <!--<a href="" class="waves-effect waves-light btn">Ckeck it!</a>-->
                          <button type="submit" class="waves-effect waves-light btn">To O*Net</button>
                        </div>

                      </div>
                    </form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">android</i>Wyzant Account</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s5">
                        <input id="WyZ_username" type="text" v-model="detail.stud.wyz.WyZ_username">
                        <label class="active" for="WyZ_username">Username</label>
                      </div>

                      <div class="input-field col s5">
                        <input id="WyZ_password" type="text" v-model="detail.stud.wyz.WyZ_password">
                        <label class="active" for="WyZ_password">Password</label>
                      </div>

                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- right panel -->
        <div class="col s6">
          <div class="row">

            <div class="card-stacked col s12 info-cell">
              <h5>Weekly Report</h5>
            </div>

            <div class="card-stacked col s12 info-cell">
              <!--<a @click="chageHours()"> change hours</a>-->
              <ActivityTracker
                :hour_id=piechart
                :tier_id=tierchar
                :hours=actHour
                :happis=actHappi
                :tiers=actTier
                :tier_label=tier_label
                :label=activitylabel
              ></ActivityTracker>
            </div>

            <div class="card-stacked col s12 info-cell">
              <!--<a @click="chageHappis()">change happi</a>-->
              <HappyMeter
                :id=polarchart
                :happi=actHappi
                :label=activitylabel
                :len=activitylen
              ></HappyMeter>
            </div>

            <div class="card-stacked col s12 info-cell">
              <h5 >Badge Status</h5>
              <div class="col s12 info-cell-tall">
                <table class="info-text line-height-tall">
                  <tr><th>Total number of Available Badges:</th><td>6</td></tr>
                  <tr><th>Complete Percent:</th><td>2</td></tr>
                  <tr><th>Recent Get:</th><td>Skill</td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="stu_team" class="col s12 greyback margin-top-large">
      <div class="row detail_top zero_margin">
        <!--PMC content-->
        <div class="col s12 m2">
          <div class="teamCell card-stacked info">
            <div v-if="detail.relation.pmc!=null" class="stu_photo"></div>
            <div v-else class="noinfo teamCell card-stacked black-text">
              If you see this, it means you don't have assigned PMC or DOE, Please contact Admin
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="teamCell card-stacked">
            <div v-if="detail.relation.pmc!=null" class="info">
              <table class="info-text-short">
                <tr><th>Name:</th><td>{{detail.relation.pmc.name}}</td></tr>
                <tr><th>Email:</th><td>{{detail.relation.pmc.email}}</td></tr>
                <tr><th>Phone:</th><td>{{detail.relation.pmc.phone}}</td></tr>
                <tr><th>Role:</th><td>PMC</td></tr>
              </table>
            </div>
            <div v-else class="noinfo teamCell card-stacked">
              If you see this, it means you don't have assigned PMC or DOE, Please contact Admin
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="teamCell card-stacked">
            <table class="responsive-table striped info-text info"v-if="detail.relation.pmc!=null">
              <tr>
                <th>Created Week</th>
                <th>Content</th>
                <th>Due Date</th>
              </tr>
              <tr v-for="t in detail.todo">
                <td>{{t.create_date}}</td>
                <td>{{t.content}}</td>
                <td>{{t.due_date}}</td>
              </tr>
            </table>
            <div v-else class="noinfo">
              If you see this, it means you don't have assigned PMC or DOE, Please contact Admin
            </div>
          </div>
        </div>

        <!--DOE content-->
        <div class="col s12 m2">
          <div  class="teamCell card-stacked">
            <div v-if="detail.relation.doe!=null" class="stu_photo info"></div>
            <div v-else class="noinfo">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="teamCell card-stacked">
            <div v-if="detail.relation.doe!=null" class="info">
              <table class="info-text-short">
                <tr><th>Name:</th><td>{{detail.relation.doe.name}}</td></tr>
                <tr><th>Email:</th><td>{{detail.relation.doe.email}}</td></tr>
                <tr><th>Phone:</th><td>{{detail.relation.doe.phone}}</td></tr>
                <tr><th>Role:</th><td>DOE</td></tr>
              </table>
            </div>
            <div v-else class="noinfo teamCell card-stacked">
              If you see this, it means you don't have assigned PMC or DOE, Please contact Admin
            </div>
          </div>
        </div>
        <div class="col s12 m7">
          <div class="teamCell card-stacked">company info</div>
        </div>

        <!--FT content-->
        <div class="col s12 m2">
          <div v-if="detail.relation.ft!=null" class="teamCell card-stacked info">FT Picture</div>
          <div v-else class="noinfo teamCell card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
        </div>
        <div class="col s12 m3">
          <div class="teamCell card-stacked">
            <div v-if="detail.relation.ft!=null" class="info">
              <table class="info-text-short">
                <tr><th>Name:</th><td>{{detail.relation.ft.name}}</td></tr>
                <tr><th>Email:</th><td>{{detail.relation.ft.email}}</td></tr>
                <tr><th>Phone:</th><td>{{detail.relation.ft.phone}}</td></tr>
                <tr><th>Role:</th><td>FT</td></tr>
              </table>
            </div>
            <div v-else class="noinfo teamCell card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
          </div>
        </div>
      </div>
    </div>

    <div id="stu_background_info_tab" class="col s12 greyback margin-top-large">
      <div class="row detail_top black-text zero_margin">
        <BackgroundInfoTable :BackgroundInfo="detail.stud.bio"></BackgroundInfoTable>
      </div>
    </div>

    <div id="stu_personal_interests_tab" class="col s12 greyback margin-top-large">
      <div class="row detail_top black-text zero_margin">
        <PersonalInterestPannel
          :BackgroundInfo="detail.stud.bio"
        ></PersonalInterestPannel>
      </div>
    </div>

    <div id="stu_skills_badges_tab" class="col s12 greyback margin-top-large">
      <div class="row detail_top zero_margin">
        <BadgesTable :badgemodalid="badgemodalid" :badges="detail.stud.badges"></BadgesTable>
      </div>
    </div>

    <div id="stu_extracurricalr_log" class="col s12 info-text greyback margin-top-large padding-side">
      <div class="detail_top white-back info-cell row">
        <div class="input-field col offset-m8 m4 s3">
          <input id="extra_search" type="text" name="query" v-model="extracurricalr_searchQuery">
          <label class="active" for="extra_search">Search</label>
        </div>

        <div class="col s12 white-back">
          <Extracurricalr
            :data="detail.activity"
            :columns="extracurricalrColumns"
            :names="extracurricalrNames"
            :filter-key="extracurricalr_searchQuery"
            :role="extra"
          ></Extracurricalr>
        </div>
      </div>
    </div>

    <div id="stu_todo_list" class="col s12 greyback margin-top-large padding-side">
      <div class="row detail_top black-text white-back">
        <div id="logcontorller" class="col s12 m10 center">
          <div class="input-field col m3">
            <input id="todo_search" type="text" name="query" v-model="TodosearchQuery">
            <label class="active" for="todo_search">Search</label>
          </div>

          <div class="input-field col offset-m4 m4">
            <span>Recent Modifier:</span>
            <div class="chip DOE input-field">DOE</div>
            <div class="chip PMC input-field">PMC</div>
            <div class="chip ADMIN input-field">ADMIN</div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="row">
            <div class="col m12 card-stacked info-cell">
              <TodoList
                :data="detail.todo.STUD"
                :columns="todoColumns"
                :colname="todoColName"
                :filter-key="TodosearchQuery"
                :role='stu'
                :title='todoStudent'
              ></TodoList>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col m12 card-stacked info-cell">
              <TodoList
                :data="detail.todo.PMC"
                :columns="todoColumns"
                :colname="todoColName"
                :filter-key="TodosearchQuery"
                :role='pmc'
                :title='todoStaff'
              ></TodoList>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import StudentService from '../services/StudentService';
  import ActivityTracker from './ActivityTracker';
  import HappyMeter from './HappyMeter';
  import BackgroundInfoTable from './BackgroundInfoTable';
  import BadgesTable from './BadgesTable';
  import Extracurricalr from './ExtracurricalrLog';
  import TodoList from './TodoList';
  import PersonalInterestPannel from './PersonalInterestPannel';
  import {EventBus} from '../eventhub';
  export default {
    props: {badgemodalid:String},
    components: {
      ActivityTracker,
      HappyMeter,
      BackgroundInfoTable,
      BadgesTable,
      PersonalInterestPannel,
      Extracurricalr,
      TodoList,
    },
    data:function () {
      return {
        piechart:'test',
        tierchar:'tierchar',
        polarchart:'happitest',
        stu:"stu",
        pmc:"pmc",
        extra:"extracurricalr",

        removeFlag:{},
        bindemail:'',
        content:'',
        todoInsert:{
          todo_content:'',
          todoRole:'STUD',
          role_id:'myroles',
          roles:['STUD','PMC','DOE','FT'],
          date:'duedate',
          default:'Role'
        },
        TodosearchQuery: '',

        todoList:[
          {
            "_id" : "29b62960f159918a5d0d98dedcbc3533",
            "week" : "2017-W23",
            "content" : "cscscc",
            "dueDate" : "2017-05-30",
            "r_id" : "4a8a08f09d37b73795649038408b5f33",
            "active" : true
          }
        ],
        options: [
          { text: 'Todo+Done', value: '1' },
          { text: 'Todo', value: '2' },
          { text: 'Done', value: '3' }
        ],
        extracurricalrColumns:['meet_date','name','position','hours','describe','type','happi','tier'],
        extracurricalrNames:['Date',"Activity Name",'Position','Total Hours','Describe tasks/Project/Award','Activity Type','Happiness Rating','Tier'],
        extracurricalr_searchQuery:'',
        todoColumns: ['due_date','content'],
        todoColName:['Due','Content'],
        todoStudent:'Studnet Todo Log',
        todoStaff:'Team Todo Log',
        activitylabel:['Skill','Work','Sports','Other Coursework','Volunteer'],
        hours:[0,0,0,0,0],
        happi:[0,0,0,0,0],
        tier:[0,0,0,0],
        tier_label:['Tier 1','Tier 2','Tier 3','Tier 4'],
        detail: {
          stud: {
            "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
            "create_date": "2017-07-27T07:00:00.000Z",
            "bio": {
              "city": "Los Angeles",
              "email": "desire@meiguola.com",
              "phone": "21342145435",
              "skype": "desiredesire",
              "gender": "Female",
              "street": "830 Traction Ave",
              "wechat": "desireesayarath",
              "country": "USA",
              "zipcode": "90013",
              "birthday": "1/1/1993",
              "district": "CA",
              "religion": "none",
              "home_city": "Los Angeles",
              "given_name": "Sayarath",
              "home_state": "CA",
              "family_name": "desire",
              "home_street": "830 Traction Ave",
              "chinese_name": "茉莉",
              "english_name": "desire",
              "home_country": "USA",
              "home_zipcode": "90013",
              "preferred_name": "desire",
              "primary_language": "english",
              "family_bio_siblings": "No",
              "school_chinese_name": "desire",
              "school_english_name": "wjm",
              "extracurricular_work": "wjm",
              "school_chinese_pinyin": "desire",
              "extracurricular_volunteer": "desire",
              "extracurricular_education_reason": "Get a job"
            },
            "contact": {
              "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "name": "harrison wang",
              "email": "meiguo@edu.com",
              "phone": "2132145434",
              "wechat": "meiguola"
            },
            "hours": [
              0,
              0,
              1,
              8,
              0
            ],
            "happi": [
              2,
              3,
              1,
              0,
              0
            ],
            "badges": [
              "b1",
              "c4"
            ],
            "gpa": {
              "GPA_website": "whwh",
              "GPA_password": "hjkh",
              "GPA_username": "hdgfjh"
            },
            "wma": {
              "WMA_day": "",
              "WMA_time": "",
              "WMA_location": ""
            },
            "wyz": {
              "WyZ_password": "",
              "WyZ_username": ""
            },
            "vom": {
              "VoM_password": "",
              "VoM_username": ""
            }
          },
          relation: {
            "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
            "doe": {

            },
            "pmc": {

            },
            "ft": {

            },
            "stud": {
            }
          },
          activity: [
            {
              "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "create_date": "2017-07-01T07:00:00.000Z",
              "type": "SKILL",
              "hours": 2,
              "happi": 5,
              "detail": {
                "name": "dsf",
                "describe": "fdgfdsg",
                "position": "afds"
              },
              "relation_id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "tier": "1"
            },
          ],
          todo: {
            STUD: [
              {
                "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
                "create_date": "2017-07-11T07:00:00.000Z",
                "due_date": "2017-07-12T07:00:00.000Z",
                "complete": true,
                "relation_id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
                "role": "student",
                "content": "aaadsfsdfdsfdsf",
                "recent_modifier" : "PMC"
              },
              {
                "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
                "create_date": "2017-07-11T07:00:00.000Z",
                "due_date": "2017-07-11T07:00:00.000Z",
                "complete": false,
                "relation_id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
                "role": "student",
                "content": "dsfsdfdsfdsf",
                "recent_modifier" : "DOE"
              }
            ]
          },
        },
      };
    },
    mounted() {
//      StudentService.login(); // TODO: DEV USE ONLY delete after student page complete
//      let email = sessionStorage.getItem("meiguo_user");
//      StudentService.getStudentDetail(email,
//        (res)=>{
//          this.detail = res;
          EventBus.$emit('GainBadges',this.detail.stud.badges);
//        },
//        (err)=>{alert(JSON.stringify(err))}
//      );
    },
    computed:{
      actHour:function () {
        /**TODO right now we use hours, this field will be removed in next version
         * hours should be calculated from activity iteration
         */
//          return this.detail.stud.hours;
        var calhours = [0,0,0,0,0];
        this.detail.activity.forEach(act => {
          switch (act.type) {
            case 'SKILL':
              calhours[0] += parseInt(act.hours);
              break;
            case 'WORK':
              calhours[1] += parseInt(act.hours);
              break;
            case 'SPORT':
              calhours[2] += parseInt(act.hours);
              break;
            case 'OTHER':
              calhours[3] += parseInt(act.hours);
              break;
            case 'VOLUNTEER':
              calhours[4] += parseInt(act.hours);
              break;
          }
        });
        return calhours;
      },
      actHappi:function () {
        var calhappi = [0,0,0,0,0];
        this.detail.activity.forEach(act => {
//            console.log('find me ',act);
          switch (act.type) {
            case 'SKILL':
              calhappi[0] += parseInt(act.happi);
              break;
            case 'WORK':
              calhappi[1] += parseInt(act.happi);
              break;
            case 'SPORT':
              calhappi[2] += parseInt(act.happi);
              break;
            case 'OTHER':
              calhappi[3] += parseInt(act.happi);
              break;
            case 'VOLUNTEER':
              calhappi[4] += parseInt(act.happi);
              break;
          }
        });
        return calhappi;
      },
      actTier:function () {
        var valtier = [0,0,0,0];
        this.detail.activity.forEach(act => {
//            console.log(act);
          switch (act.tier) {
            case '1':
              valtier[0] += 1;
              break;
            case '2':
              valtier[1] += 1;
              break;
            case '3':
              valtier[2] += 1;
              break;
            case '4':
              valtier[3] += 1;
              break;
          }
        });
//          console.log('recalculate tier',valtier);
        return valtier;
      },
      activitylen:function () {
        return this.detail.activity.length;
      }
    },
    methods:{
      chageHours:function () {
        this.hours.forEach((hour,index,arr)=>{
          arr.splice(index,1,hour+this.getRandomArbitrary(0,4));
        });
//        console.log(this.hours);
      },
      chageHappis:function () {
        this.happi.forEach((hour,index,arr)=>{
          arr.splice(index,1,hour+this.getRandomArbitrary(0,4));
        });
      },
      getRandomArbitrary:function (min,max) {
        return Math.floor(Math.random() * (max - min)) + min;
      },
    },
    beforeDestory() {
      EventBus.$off('GainBadges');
    }
  }
</script>

<style>
  .padding-up{
    padding-top: 45px;
    border-radius: 0.5em;
    position: fixed;
    width: 100%;
  }
  .white-back{
    background-color: white;
    border-radius: 0.5em;
  }
</style>
