<template>
  <div>
    <div class="col s12 m12">
      <ul class="collapsible info-cell" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">library_add</i>Student Extracurricular History</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr><th>Clubs student has participated in or interested in participating in</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_clubs || 'N.A.'}}</td>
              </tr>

              <tr><th>Sports student has participated in or interested in participating in</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_sports || 'N.A.'}}</td>
              </tr>

              <tr><th>Volunteer services student has participated in or interested in participating in</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_volunteer || 'N.A.'}}</td>
              </tr>

              <tr><th>Work experience student has participated in or interested in participating in</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_work || 'N.A.'}}</td>
              </tr>

              <tr><th>Student is a leader in the above extracurricular activities</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_leader || 'N.A.'}}</td>
              </tr>

              <tr><th>Coursework outside of school student has participated in or interested in participating in</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_coursework_outside || 'N.A.'}}</td>
              </tr>

              <tr><th>Awards,Honors or Achievements student have earned for the extracurricular activities above</th>
              <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_awards || 'N.A.'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">library_add</i>Student Extracurricular Preferences</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr><th>Organizations student interest most</th>
                <!--</tr><tr>-->
                <td>
                  <template v-if="typeof(BackgroundInfo.pi_orgnization_interest) === 'string'">
                    {{BackgroundInfo.pi_orgnization_interest || 'N.A.'}}
                  </template>
                  <template v-else>
                    <span v-for="grade in BackgroundInfo.pi_orgnization_interest">{{grade}},  </span>
                  </template>
                </td>
              </tr>

              <tr><th>Sports student interest most</th>
                <!--</tr><tr>-->
                <td>
                  <template v-if="typeof(BackgroundInfo.pi_sports_interest) === 'string'">
                    {{BackgroundInfo.pi_sports_interest || 'N.A.'}}
                  </template>
                  <template v-else>
                    <span v-for="grade in BackgroundInfo.pi_sports_interest">{{grade}},  </span>
                  </template>
                  <!--{{BackgroundInfo.pi_sports_interest || 'N.A.'}}-->
                </td>
              </tr>

              <tr><th>Fine arts programs student interest most</th>
                <!--</tr><tr>-->
                <td>
                  <!--{{BackgroundInfo.pi_art_interest || 'N.A.'}}-->
                  <template v-if="typeof(BackgroundInfo.pi_art_interest) === 'string'">
                    {{BackgroundInfo.pi_art_interest || 'N.A.'}}
                  </template>
                  <template v-else>
                    <span v-for="grade in BackgroundInfo.pi_art_interest">{{grade}},  </span>
                  </template>
                </td>
              </tr>

              <tr><th>Causes student would like to volunteer for</th>
                <!--</tr><tr>-->
                <td>
                  <!--{{BackgroundInfo.pi_volunteer_cause || 'N.A.'}}-->
                  <template v-if="typeof(BackgroundInfo.pi_volunteer_cause) === 'string'">
                    {{BackgroundInfo.pi_volunteer_cause || 'N.A.'}}
                  </template>
                  <template v-else>
                    <span v-for="grade in BackgroundInfo.pi_volunteer_cause">{{grade}},  </span>
                  </template>
                </td>
              </tr>

              <tr><th>Student's non-academic,extracurricular strengths</th>
                <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_strengths || 'N.A.'}}</td>
              </tr>

              <tr><th>Student's non-academic,extracurricular weaknesses</th>
                <!--</tr><tr>-->
                <td>{{BackgroundInfo.pi_weaknesses || 'N.A.'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Student Short Answers</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
                <tr><th>Student knows how to drive?</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_drive || 'N.A.'}}</td>
                </tr>

                <tr><th>Student needs a tutor to assist with what classes?</th>
                  <!--</tr><tr>-->
                  <td>
                    <template v-if="typeof(BackgroundInfo.pi_assistance_classes) === 'string'">
                      {{BackgroundInfo.pi_assistance_classes || 'N.A.'}}
                    </template>
                    <template v-else>
                      <span v-for="grade in BackgroundInfo.pi_assistance_classes">{{grade}},  </span>
                    </template>
                  </td>
                </tr>

                <tr><th>Top 5 traits studnet values most</th>
                  <!--</tr><tr>-->
                  <td>
                    <template v-if="typeof(BackgroundInfo.pi_traits) === 'string'">
                      {{BackgroundInfo.pi_traits || 'N.A.'}}
                    </template>
                    <template v-else>
                      <span v-for="grade in BackgroundInfo.pi_traits">{{grade}},  </span>
                    </template>
                  </td>
                </tr>

                <tr><th>Peace or Freedom, which is more important from view of student</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_peace_freedom || 'N.A.'}}</td>
                </tr>

                <tr><th>Student admires who? Why?</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_admire || 'N.A.'}}</td>
                </tr>

                <tr><th>Student's dreram school & career goals</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_dream_school_career || 'N.A.'}}</td>
                </tr>

                <tr><th>How student spend last two summers?</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_summer || 'N.A.'}}</td>
                </tr>

                <tr><th>Studnet's stuggled time or experienced difficulties</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_difficulties || 'N.A.'}}</td>
                </tr>

                <tr><th>Anything Else?</th>
                  <!--</tr><tr>-->
                  <td>{{BackgroundInfo.pi_anything || 'N.A.'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default{
    props:{
      BackgroundInfo:Object
    }
  }
</script>


<style>

  .collapsible tr {
    height: 1em;
  }

  .collapsible td{
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .collapsible th{
    padding-top: 5px;
    padding-bottom: 0px;
    width:50%;
  }

</style>
