<template>
  <div>
    <table class="todo-list-head">
      <thead>
        <tr>
          <th><h5>{{title}}</h5></th>
          <th class="modecontrol">
            <span>
              <input :name= "role" type="radio" :id="role+1" value="Todo+Done" v-model="mode"/>
              <label :for="role+1" style="padding-left:21px">Todo+Done</label>
            </span>
            <span>
              <input :name="role" type="radio" :id="role+2" value="Done" v-model="mode"/>
              <label :for="role+2" style="padding-left:21px">Done</label>
            </span>
            <span>
              <input :name="role" type="radio" :id="role+3" value="Todo" v-model="mode"/>
              <label :for="role+3" style="padding-left:21px">Todo</label>
            </span>
          </th>
        </tr>
      </thead>
    </table>

    <div class="todo-list-high">
      <table class="todo-list-head" style="table-layout:fixed;width: 100%;">
        <tbody>
        <tr>
          <th style="width: 141px"></th>
          <th v-for="(key,index) in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key ,date:key=='due_date'}">
            {{ colname[index] | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>

        <tr v-for="(entry,index) in filteredData" v-if=showOrNot(entry) :class="completeDenotraction(entry.complete,entry.recent_modifier)">
          <td class="row" style="width: 141px">
            <div class="col m4">
              <i class="small material-icons" v-if="isComplete(entry)">done</i>
              <i class="small material-icons" v-if="!isComplete(entry)">mood_bad</i>
            </div>
            <div class="col m6">
              {{entry.role}}
            </div>
          </td>

          <td v-for="key in columns" :class="{date:key=='due_date'}">
            <div class="view">{{entry[key]}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import StudentService from '../services/StudentService'

  export default{
      props: {
        data: Array,
        columns: Array,
        colname: Array,
        filterKey: String,
        role:String,
        title:String,
      },
      data: function () {
        var sortOrders = {};

        this.columns.forEach(function (key) {
          sortOrders[key] = 1
        });
        return {
          sortKey: '',
          sortOrders: sortOrders,
          mode:'Todo+Done',
        }
      },
      computed: {
        filteredData: function () {
          var sortKey = this.sortKey
          var filterKey = this.filterKey && this.filterKey.toLowerCase()
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (filterKey) {
            data = data.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
              })
            })
          }
          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
            })
          }
          return data
        },
      },
      filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        },
      },
      methods: {
        sortBy: function (key) {
          // switch this.sortOrders[key] btw 1(asc) and -1(dsc).
          this.sortKey = key;
          this.sortOrders[key] = this.sortOrders[key] * -1
        },
        isComplete:function(todo){
          return todo.complete;
        },
        showOrNot:function(cell) {
          // show table row based on the mode currently chosen.
          return (this.mode==='Todo+Done') || (this.mode==='Todo' && !cell.complete) || (this.mode==='Done' && cell.complete);
        },
        completeDenotraction:function(compelte,recent) {
          // add class to row. so that row has line-through and (DOE/PMC/STUD)colors css
          return compelte === false ? ''+recent : 'completed '+recent;
        },
      },
  }
</script>


<style>
  .todo-list-head .view {
    text-align: center;
    font-size: 1.3em;
  }

  .completed {
    text-decoration: line-through;
    color:darkgrey;
  }
  .view {
    position: relative;
  }
  .remove{
    position: absolute;
    right:0px;
    color: transparent;
  }

  .remove:hover {
    color: #9e9e9e;
  }

  .completed div {
    text-decoration: line-through;
    color:darkgrey;
  }
</style>
