.badgesTable{
  /*width: 70%;*/
  height:50%;
  background-color: white;
  /*padding-left: 5%;*/
  /*padding-right: 5%;*/
  /*padding-top: 15%;*/
  /*padding-bottom: 15%;*/
}
.badgeCard{
  height: 150px;
  /*max-width: 44%;*/
  /*margin: 1%;*/
  z-index: 2;
  /*border: solid;*/
}
.badgeCardCell {
  height:75%;
  /*width:90%;*/
  position: relative;
}
.badgeClass{
  font-weight: bold;
  font-size:xx-large;
}
.picsnap {
  width: 10%;
  max-height: 50px;
}
.content td {
  /*width: 90%*/
  font-size: x-large;
  /*height:5%;*/
}

.status {
  padding-left: 4%;
  padding-right: 4%;
  font-size: medium;
  color: #fff;
  position: absolute;
  bottom: 2px;
  width:100%;
  /*padding-top: 10px;*/
}

.complete {
  /*position: absolute;
  left: 2px;*/
  display: inline-block;
  width:45%;
  text-align: left;
}

.complete_num {
  /*position: absolute;
  right: 2px;*/
  width:45%;
  display: inline-block;
  text-align: right;
}

.fillInHeight i {
  color: rgb(221, 221, 221);
}

.activityTable {
  /*border: solid;*/
  height: 200px;
}

.explain div {
  color: rgb(163, 168, 175);
  font-size:small;
  max-width: 100%;
  white-space: pre-line;
}
.explain {
  margin-top: 0px;
  vertical-align: text-top;
  /*height: 30px;*/
  padding: 0px;
}

.badgesClassColor{
  background-color: #46a7fc;
}

h1 {
text-align: center;
font-family: Tahoma, Arial, sans-serif;
color: #06D85F;
margin: 80px 0;
}

.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 35px;
border: 2px solid #fff;
border-radius: 20px/50px;
background-clip: padding-box;
text-align: center;
}

.button {
font-size: 2em;
padding: 10px;
color: #fff;
/*border: 2px solid #06D85F;*/
/*border-radius: 20px/50px;*/
text-decoration: none;
/*cursor: pointer;*/
transition: all 0.3s ease-out;
}
/*.button:hover {
background: #06D85F;
}*/

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
z-index: 1;
}
.overlay:target {
visibility: visible;
opacity: 1;
z-index: 3;
}

.popup {
margin: 1% auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 80%;
position: relative;
transition: all 5s ease-in-out;
height: 60%;
}

.popup h2 {
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
  margin-top: 40px;
  height: 80%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
