#header {
    text-align: center;
    background-color: rgba(238,110,115,1.0);
    height: 45px;
    font-size: 1.6em;
}

body {
    font-family: "PT Sans Narrow", "Lato", sans-serif;
    width: 35%;
    margin: 0 auto;
    height: 100vh;
}
.whiteText {
    color: white;
}

.summary {
    /*background-color: #777777;*/
    height: calc((100vh / 2 - 45px) * 2 / 3);
    font-size: 1.2em;
}

.content {
    padding: 30px 20px;
}

.content table {
    width: 80%;
}

.one {
    /*background-color: #595959;*/
    height:calc((100vh / 2 - 45px) / 3);
    font-size: 1.4em;
}

.two {
    /*background-color: #292929;*/
    height: calc(100vh / 2);
    font-size: 1.4em;
}

.centerlize {
    /*width: 400px;*/
    margin: 0 auto;
}

.center {
    text-align: center;
}