extends layout

block content
    #header.center.whiteText MeiguoEdu

    .summary.centerlize.content Hi #{username}
        div.center.content Welcome to MeiguoEdu, Here is your account and temporary password.Please login as soon as possible to reset password


    .one.content Step 1. Reset your password
        div.content
            table.centerlize
                tr
                   td account:
                   td #{username}
                tr
                   td password:
                   td #{password}

    .two.content Step 2. Finishing the following survey
        div.content
            table.centerlize
                tr
                    td
                        a(href="https://www.surveymonkey.com/r/student-application-biographical-information") Student Application #1: Biographical Information
                tr
                    td
                        a(href="https://www.surveymonkey.com/r/student-application-personal-interests") Student Application #2: Personal Interests
