<template>
  <div>
    <h5>Student Activity Tracker</h5>
    <div class="row">

      <div class="col s12">
        <table class="info-text line-height-tall">
          <tr>
            <th>Total Hours:</th><td>{{totalhour}}</td>
            <th>Volunteer Hours:</th><td>{{totalvolunteer}}</td>
          </tr>
          <tr>
            <th>Happiest Activity:</th><td>{{happiestActivity}}</td>
            <th>Most Popular:</th><td>{{mostpopular}}</td>
          </tr>
        </table>
      </div>

      <hr />
      <h6>Extracurriclar Activities Hours Statistics</h6>
      <div class="col s12">
        <canvas v-bind:id="hour_chart_id"></canvas>
      </div>

      <ChartLegend
        :chart="chart"
        :second_chart="happichart"
        class="col s12"
      />

      <hr />
      <h6>Extracurriclar Activities Happiness Statistics</h6>
      <div class="col s12">
        <canvas v-bind:id="happi_chart_id"></canvas>
      </div>

      <hr />
      <h6>Happy Meter</h6>
      <HappyMeter
        :happi="happis"
        :len="len"
      ></HappyMeter>
      <hr/>
      <h6>Extracurriclar Activities Tier Statistics</h6>
      <div class="col s12">
        <table class="info-text line-height-tall">
          <tr>
            <th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Achieve at National or International Level, built over long period of time">Tier1 ratio:</a></th><td>{{tierratio[0]}}%</td>
            <th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Best in activity at local or regional e.g. President">Tier2 ratio:</a></th><td>{{tierratio[1]}}%</td></tr>
          <tr>
            <th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Some distinction that's not #1 e.g. Vice President">Tier3 ratio:</a></th><td>{{tierratio[2]}}%</td>
            <th><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Participation or member status only">Tier4 ratio:</a></th><td>{{tierratio[3]}}%</td></tr>
        </table>
      </div>
      <div class="col s12">
        <canvas v-bind:id="tier_chart_id"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
  import Chart from 'chart.js'
  import ChartLegend from './chartLegend.vue'
  import HappyMeter from './HappyMeter.vue'

  export default {
    components:{
      ChartLegend,
      HappyMeter
    },
    props: {
      hour_chart_id:String,
      tier_chart_id:String,
      happi_chart_id:String,
      tier_label:Array,
      hours:{
        type:Array,
        default:[1,2,3,4,5]
      },
      happis:{
        type:Array,
        default:[1,2,3,4,5]
      },
      tiers:Array,
      label:Array,
      legendColor:Array,
      len:Number,
    },
    data() {
      var color = Chart.helpers.color;
      return {
          chart:null,
          tierchar:null,
          happichart:null,
          tierratio:[0,0,0,0],
          hour_config:{
            type: 'pie',
            data:{
              labels: this.label,
              datasets: [
                {
                  data: this.hours,
                  backgroundColor: this.legendColor
                }]
            },
            options: {
              animation:{
                animateScale:true
              },
              legend: {
                display: false
              },
              legendCallback: function(chart) {
                  console.log(chart);
                return chart
              }
            }
          },
          tier_config:{
            type:'polarArea',
            data: {
              datasets: [{
                data: this.tiers,
                backgroundColor: [
                  color("#FF6384").alpha(0.5).rgbString(),
                  color("#36A2EB").alpha(0.5).rgbString(),
                  color("#FFCE56").alpha(0.5).rgbString(),
                  color("##33cccc").alpha(0.5).rgbString()
                ],
                label: 'My dataset' // for legend
              }],
              labels: this.tier_label
            },
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
              },
              scale: {
                ticks: {
                  beginAtZero: true
                },
                reverse: false
              },
              animation: {
                animateRotate: false,
                animateScale: true
              }
            },
          },
        happi_config:{
          type:'doughnut',
            data: {
            datasets: [{
              data: this.happis,
              backgroundColor: this.legendColor,
            }],
              labels: this.label
          },
          options: {
            responsive: true,
            legend: {
              display: false,
            },
            animation: {
              animateRotate: false,
              animateScale: true
            }
          },
        }
      };
    },
    computed:{
      totalhour:function () {
        let total = 0;
        this.hours.forEach((key)=>{
            total += key;
        });
        return total;
      },
      totalvolunteer:function () {
        return this.hours[2];
      },
      happiestActivity:function () {
        let happiest = 0;
        this.happis.forEach((happ,index,array) => {
            if (happ > array[happiest]) {
                happiest = index;
            }
        });
        return this.label[happiest];
      },
      mostpopular:function () {
        let pop = 0;
        this.hours.forEach((hour,index,array) => {
            if (hour > array[pop]) {
                pop = index;
            }
        });
        return this.label[pop];
      }
    },
    watch:{
        hours:function (val) {
          if (!val) {
            return;
          }
          this.chart.data.datasets[0].data.forEach((hour,index,arr)=>{
            arr.splice(index,1,val[index]);
          });
          this.chart.update();
        },
        tiers:function (val) {
          if (!val) {
            return;
          }
          let total = 0;
          this.tierchar.data.datasets[0].data.forEach((t,index,arr)=>{
            arr.splice(index,1,val[index]);
            total += parseInt(val[index]);
          });
          this.tierchar.update();
          this.calculateRatio(total);
        },
        happis:function(val) {
          if (!val) {
            return;
          }
          this.happichart.data.datasets[0].data.forEach((happi,index,arr)=>{
            arr.splice(index,1,val[index]);
          });
          this.happichart.update()
        }
    },
    methods:{
      drawChart:function () {
        if (!this.chart) {
          let ctx = $('#' + this.hour_chart_id);
          this.chart = new Chart(ctx, this.hour_config);
        }

        if (!this.tierchar) {
          let tierctx = $('#' + this.tier_chart_id);
          this.tierchar = new Chart(tierctx, this.tier_config);
        }

        if(!this.happichart) {
          let happictx = $('#'+this.happi_chart_id);
          this.happichart = new Chart(happictx,this.happi_config);
        }
      },
      calculateRatio:function (total) {
        this.tierratio.forEach((ra,index,arr) => {
          arr.splice(index,1,this.ratio(this.tiers[index],total));
        });
      },
      ratio:function (ra,total) {
        if (typeof(ra) != 'number') {
          ra = parseInt(ra);
        }
        if (typeof(total) != 'number') {
          total = parseInt(total);
        }
        return Math.floor(ra * 100 /total);
      },
    },
    mounted() {
      this.drawChart();
      $('.tooltipped').tooltip({delay: 50});
    },
  }

</script>

<style>
  .chart{
    marigin: 0 auto,
  }
</style>
