<template>
  <div>
    <div class="col s12 m6">
      <ul class="collapsible info-cell" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">library_add</i>Current School</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr>
                <th>School Name</th><td>{{BackgroundInfo.ah_school_name || 'N.A.'}}</td>
              </tr><tr>
                <th>School Native Name</th>
                <td>{{BackgroundInfo.ah_school_native_name || 'N.A.'}}</td>
              </tr>
              <tr><th>Current Grade Level</th><td>{{BackgroundInfo.ah_grade || 'N.A.'}}</td></tr>
              <tr><th>Grades Completed at Current School</th><td>
                <template v-if="typeof(BackgroundInfo.ah_grade_completed) === 'string'">
                  {{BackgroundInfo.ah_grade_completed || 'N.A.'}}
                </template>
                <template v-else>
                  <span v-for="grade in BackgroundInfo.ah_grade_completed">{{grade}}, </span>
                </template>
              </td></tr>
              <tr><th>Current School's Type of Attendance</th><td>{{BackgroundInfo.ah_type || 'N.A.'}}</td></tr>
              <tr><th>Attend a school previous to your current one?</th><td>{{BackgroundInfo.ah_previous_attend || 'N.A.'}}</td></tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">library_add</i>Previous School</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr>
                <th>School Name</th><td>{{BackgroundInfo.ah_previous_school_name || 'N.A.'}}</td>
              </tr><tr>
                <th>School Native Name</th>
                <td>{{BackgroundInfo.ah_previous_school_native_name || 'N.A.'}}</td>
              </tr>
              <tr><th>Start Date</th><td>{{BackgroundInfo.ah_previous_school_start_date || 'N.A.'}}</td></tr>
              <tr><th>End Date</th><td>{{BackgroundInfo.ah_previous_school_end_date || 'N.A.'}}</td></tr>
              <tr><th>Grades Compeleted at Pervious School</th><td>
                <!--{{BackgroundInfo.ah_previous_school_grade_completed || 'N.A.'}}-->
                <template v-if="typeof(BackgroundInfo.ah_previous_school_grade_completed) === 'string'">
                  {{BackgroundInfo.ah_previous_school_grade_completed || 'N.A.'}}
                </template>
                <template v-else>
                  <span v-for="grade in BackgroundInfo.ah_previous_school_grade_completed">{{grade}}, </span>
                </template>
              </td></tr>
              <tr><th>Previous School's Type of Attendance</th><td>{{BackgroundInfo.ah_previous_school_type || 'N.A.'}}</td></tr>
              </tbody>
            </table>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Personal Experience</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr><th>Ever skipped a grade?</th><td>{{BackgroundInfo.ah_skip_grade || 'N.A.'}}</td></tr>
              <tr><th>Ever repeated a grade?</th><td>{{BackgroundInfo.ah_repeat_grade || 'N.A.'}}</td></tr>
              <tr><th>Ever been withdrawn or dismissed from <br>an academic institution or program?</th><td>{{BackgroundInfo.ah_withdrawn || 'N.A.'}}</td></tr>
              <tr><th>Ever received severe disciplinary action <br>at school or from the community?</th><td>{{BackgroundInfo.ah_disciplinary || 'N.A.'}}</td></tr>
              <tr><th>Any learning difficulties?</th><td>{{BackgroundInfo.ah_learning_dificulties || 'N.A.'}}</td></tr>
              <tr><th>College Courses taken</th><td>{{BackgroundInfo.ah_college_course || 'N.A.'}}</td></tr>
              <tr><th>AP Courses taken</th><td>{{BackgroundInfo.ah_AP|| 'N.A.'}}</td></tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

    <div class="col s12 m6">
      <ul class="collapsible info-cell" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment</i>Parent</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <table>
              <tbody>
              <tr><th>Current Live with</th><td>
                <!--{{BackgroundInfo.summary_living_with|| 'N.A.'}}-->
                <template v-if="typeof(BackgroundInfo.summary_living_with) === 'string'">
                  {{BackgroundInfo.summary_living_with || 'N.A.'}}
                </template>
                <template v-else>
                  <span v-for="grade in BackgroundInfo.summary_living_with">{{grade}},  </span>
                </template>
              </td></tr>
              <tr><th >Parent #1</th><td></td></tr>
              <tr><td>Relationship</td><td>{{BackgroundInfo.fb_1_relationship || 'N.A.'}}</td></tr>
              <tr><td>Native name</td><td>{{BackgroundInfo.fb_1_native_name || 'N.A.'}}</td></tr>
              <tr><td>English name</td><td>{{BackgroundInfo.fb_1_name || 'N.A.'}}</td></tr>
              <tr><td>Preferred name</td><td>{{BackgroundInfo.fb_1_preferred_name || 'N.A.'}}</td></tr>
              <tr><td>Relationship status</td><td>{{BackgroundInfo.fb_1_relation_status || 'N.A.'}}</td></tr>
              <tr><td>Birthday</td><td>{{BackgroundInfo.fb_1_birthday|| 'N.A.'}}</td></tr>
              <tr><td>Birth City</td><td>{{BackgroundInfo.fb_1_birthcity || 'N.A.'}}</td></tr>
              <tr><td>Citizenship</td><td>{{BackgroundInfo.fb_1_citizenship || 'N.A.'}}</td></tr>
              <tr><th>Address</th><td>{{BackgroundInfo.fb_1_citizenship || 'N.A.'}}</td></tr>
              <tr><th>Contact</th></tr>
              <tr><td>Phone</td><td>{{BackgroundInfo.fb_1_phone || 'N.A.'}}</td></tr>
              <tr><td>Email</td><td>{{BackgroundInfo.fb_1_email || 'N.A.'}}</td></tr>
              <tr><td>Wechat</td><td>{{BackgroundInfo.fb_1_wechat || 'N.A.'}}</td></tr>
              <tr><td>Skype</td><td>{{BackgroundInfo.fb_1_skype || 'N.A.'}}</td></tr>
              <tr><th>Work</th><td>{{BackgroundInfo.fb_1_occupation || 'N.A.'}}</td></tr>
              <tr><th >Company Info</th><td></td></tr>
              <tr><td>Company Name:</td><td>{{BackgroundInfo.fb_1_company_english_name}}</td></tr>
              <tr><td>Company Native Name:</td><td>{{BackgroundInfo.fb_1_company_native_name}}</td></tr>
              <tr><td>Company Address:</td><td>{{BackgroundInfo.fb_1_company_company_street}},{{BackgroundInfo.fb_1_company_city}},{{BackgroundInfo.fb_1_company_state}},{{BackgroundInfo.fb_1_company_zipcode}}</td></tr>
              <tr><td>Company Phone:</td><td>{{BackgroundInfo.fb_1_company_phone}}</td></tr>
              <tr><th >Degree</th><td></td></tr>
              <tr><td>Highest Degree:</td><td>{{BackgroundInfo.fb_1_degree}}</td></tr>
              <tr><th>Most Recent School</th><td></td></tr>
              <tr><td>School Name:</td><td>{{BackgroundInfo.fb_1_recent_school}}</td></tr>
              <tr><td>School Native Name:</td><td>{{BackgroundInfo.fb_1_recent_school_native_name}}</td></tr>
              <tr><td>Study of Interest:</td><td>{{BackgroundInfo.fb_1_recent_school_interest}}</td></tr>
              <tr><td>Last Year Attend:</td><td>{{BackgroundInfo.fb_1_recent_school_year}}</td></tr>
              </tbody>
            </table>
          </div>

        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">assignment</i>Guardians</div>
          <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
            <template v-if="BackgroundInfo.fb_guardian">
              <table>
              <tbody>
              <tr><th>Local Guardian</th><td></td></tr>
              <tr><td>Relation: </td><td>{{BackgroundInfo.fb_guardian_1_relation || 'N.A.'}}</td></tr>
              <tr><td>English Name: </td><td>{{BackgroundInfo.fb_guardian_1_english || 'N.A.'}}</td></tr>
              <!--<tr><td>Native Name: </td><td>{{BackgroundInfo.}}</td></tr>-->
              <tr><td>Preferred Name: </td><td>{{BackgroundInfo.fb_guardian_1_preferred_name || 'N.A.'}}</td></tr>
              <tr><td>Birthday: </td><td>{{BackgroundInfo.fb_guardian_1_birthday || 'N.A.'}}</td></tr>
              <tr><td>Driver Liscense: </td><td>{{BackgroundInfo.fb_guardian_1_driver_license || 'N.A.'}}</td></tr>
              <tr><th>Address </th><td></td></tr>
              <tr><td>street: </td><td>{{BackgroundInfo.fb_guardian_1_street || 'N.A.'}}</td></tr>
              <tr><td>district: </td><td>{{BackgroundInfo.fb_guardian_1_district || 'N.A.'}}</td></tr>
              <tr><td>city: </td><td>{{BackgroundInfo.fb_guardian_1_city || 'N.A.'}}</td></tr>
              <tr><td>state: </td><td>{{BackgroundInfo.fb_guardian_1_state || 'N.A.'}}</td></tr>
              <tr><td>country: </td><td>{{BackgroundInfo.fb_guardian_1_country || 'N.A.'}}</td></tr>
              <tr><td>zipcode: </td><td>{{BackgroundInfo.fb_guardian_1_zipcode || 'N.A.'}}</td></tr>
              <tr><th>Contact</th></tr>
              <tr><td>Phone:</td><td>{{BackgroundInfo.fb_guardian_1_phone || 'N.A.'}}</td></tr>
              <tr><td>Email:</td><td>{{BackgroundInfo.fb_guardian_1_email || 'N.A.'}}</td></tr>
              <tr><td>Wechat:</td><td>{{BackgroundInfo.fb_guardian_1_wechat || 'N.A.'}}</td></tr>
              <tr><td>Skype:</td><td>{{BackgroundInfo.fb_guardian_1_skype || 'N.A.'}}</td></tr>
              <tr><th>Work</th><td>{{BackgroundInfo.fb_guardian_1_occupation || 'N.A.'}}</td></tr>
              <tr><th>Company English Name:</th><td>{{BackgroundInfo.fb_1_occupation || 'N.A.'}}</td></tr>
              <tr><th>Company Native Name:</th><td>{{BackgroundInfo.fb_1_occupation || 'N.A.'}}</td></tr>

              <template v-if="BackgroundInfo.fb_guardian_2">
                <tr><td><hr /></td><td><hr /></td></tr>
                <tr><th>Local Guardian #2</th><td></td></tr>
                <tr><td>Relation: </td><td>{{BackgroundInfo.fb_guardian_2_relation || 'N.A.'}}</td></tr>
                <tr><td>English Name: </td><td>{{BackgroundInfo.fb_guardian_2_english || 'N.A.'}}</td></tr>
                <!--<tr><td>Native Name: </td><td>{{BackgroundInfo.}}</td></tr>-->
                <tr><td>Preferred Name: </td><td>{{BackgroundInfo.fb_guardian_2_preferred_name || 'N.A.'}}</td></tr>
                <tr><td>Birthday: </td><td>{{BackgroundInfo.fb_guardian_2_birthday || 'N.A.'}}</td></tr>
                <tr><td>Driver Liscense: </td><td>{{BackgroundInfo.fb_guardian_2_driver_license || 'N.A.'}}</td></tr>
                <tr><th>Address </th><td></td></tr>
                <tr><td>street: </td><td>{{BackgroundInfo.fb_guardian_2_street || 'N.A.'}}</td></tr>
                <tr><td>district: </td><td>{{BackgroundInfo.fb_guardian_2_district || 'N.A.'}}</td></tr>
                <tr><td>city: </td><td>{{BackgroundInfo.fb_guardian_2_city || 'N.A.'}}</td></tr>
                <tr><td>state: </td><td>{{BackgroundInfo.fb_guardian_2_state || 'N.A.'}}</td></tr>
                <tr><td>country: </td><td>{{BackgroundInfo.fb_guardian_2_country || 'N.A.'}}</td></tr>
                <tr><td>zipcode: </td><td>{{BackgroundInfo.fb_guardian_2_zipcode || 'N.A.'}}</td></tr>
                <tr><th>Contact</th></tr>
                <tr><td>Phone:</td><td>{{BackgroundInfo.fb_guardian_2_phone || 'N.A.'}}</td></tr>
                <tr><td>Email:</td><td>{{BackgroundInfo.fb_guardian_2_email || 'N.A.'}}</td></tr>
                <tr><td>Wechat:</td><td>{{BackgroundInfo.fb_guardian_2_wechat || 'N.A.'}}</td></tr>
                <tr><td>Skype:</td><td>{{BackgroundInfo.fb_guardian_2_skype || 'N.A.'}}</td></tr>
                <tr><th>Work</th><td>{{BackgroundInfo.fb_guardian_2_occupation || 'N.A.'}}</td></tr>
                <tr><th>Company English Name:</th><td>{{BackgroundInfo.fb_2_occupation || 'N.A.'}}</td></tr>
                <tr><th>Company Native Name:</th><td>{{BackgroundInfo.fb_2_occupation || 'N.A.'}}</td></tr>
              </template>

              </tbody>
            </table>
            </template>
            <template v-else>
              No guardian
            </template>
          </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>Siblings</div>
            <div class="collapsible-body" style="padding-bottom: 5px;padding-top: 5px;">
              <template v-if="BackgroundInfo.fb_sibling_1==='Yes'">
                <table>
                  <tbody>
                    <template v-if="BackgroundInfo.fb_sibling_1_name">
                      <tr><th>Sibling #1</th><td></td></tr>
                      <tr><td>Name: </td><td>{{BackgroundInfo.fb_sibling_1_name|| 'N.A.'}}</td></tr>
                      <tr><td>Native Name: </td><td>{{BackgroundInfo.fb_sibling_1_native_name || 'N.A.'}}</td></tr>
                      <tr><td>Preferred Name: </td><td>{{BackgroundInfo.fb_sibling_1_preferred_name || 'N.A.'}}</td></tr>
                      <tr><td>Gender: </td><td>{{BackgroundInfo.fb_sibling_1_gender || 'N.A.'}}</td></tr>
                      <tr><td>Birthday: </td><td>{{BackgroundInfo.fb_sibling_1_birthday || 'N.A.'}}</td></tr>
                      <tr><td>School English Name: </td><td>{{BackgroundInfo.fb_sibling_1_schoolname || 'N.A.'}}</td></tr>
                      <tr><td>School Native Name: </td><td>{{BackgroundInfo.fb_sibling_1_native_schoolname || 'N.A.'}}</td></tr>
                      <tr><td>Education Level: </td><td>{{BackgroundInfo.fb_sibling_1_educationlevel || 'N.A.'}}</td></tr>
                      <tr><td>Last Year in Recent School: </td><td>{{BackgroundInfo.fb_sibling_1_schoolyear || 'N.A.'}}</td></tr>
                      <tr><td>Study on Interest: </td><td>{{BackgroundInfo.fb_sibling_1_schoolinterest || 'N.A.'}}</td></tr>
                    </template>

                    <template v-if="BackgroundInfo.fb_sibling_2_name">
                      <tr><th>Sibling #2</th><td></td></tr>
                      <tr><td>Name: </td><td>{{BackgroundInfo.fb_sibling_2_name|| 'N.A.'}}</td></tr>
                      <tr><td>Native Name: </td><td>{{BackgroundInfo.fb_sibling_2_native_name || 'N.A.'}}</td></tr>
                      <tr><td>Preferred Name: </td><td>{{BackgroundInfo.fb_sibling_2_preferred_name || 'N.A.'}}</td></tr>
                      <tr><td>Gender: </td><td>{{BackgroundInfo.fb_sibling_2_gender || 'N.A.'}}</td></tr>
                      <tr><td>Birthday: </td><td>{{BackgroundInfo.fb_sibling_2_birthday || 'N.A.'}}</td></tr>
                      <tr><td>School English Name: </td><td>{{BackgroundInfo.fb_sibling_2_schoolname || 'N.A.'}}</td></tr>
                      <tr><td>School Native Name: </td><td>{{BackgroundInfo.fb_sibling_2_native_schoolname || 'N.A.'}}</td></tr>
                      <tr><td>Education Level: </td><td>{{BackgroundInfo.fb_sibling_2_educationlevel || 'N.A.'}}</td></tr>
                      <tr><td>Last Year in Recent School: </td><td>{{BackgroundInfo.fb_sibling_2_schoolyear || 'N.A.'}}</td></tr>
                      <tr><td>Study on Interest: </td><td>{{BackgroundInfo.fb_sibling_1_schoolinterest || 'N.A.'}}</td></tr>
                    </template>

                    <template v-if="BackgroundInfo.fb_sibling_3_name">
                    <tr><th>Sibling #3</th><td></td></tr>
                    <tr><td>Name: </td><td>{{BackgroundInfo.fb_sibling_3_name|| 'N.A.'}}</td></tr>
                    <tr><td>Native Name: </td><td>{{BackgroundInfo.fb_sibling_3_native_name || 'N.A.'}}</td></tr>
                    <tr><td>Preferred Name: </td><td>{{BackgroundInfo.fb_sibling_3_preferred_name || 'N.A.'}}</td></tr>
                    <tr><td>Gender: </td><td>{{BackgroundInfo.fb_sibling_3_gender || 'N.A.'}}</td></tr>
                    <tr><td>Birthday: </td><td>{{BackgroundInfo.fb_sibling_3_birthday || 'N.A.'}}</td></tr>
                    <tr><td>School English Name: </td><td>{{BackgroundInfo.fb_sibling_3_schoolname || 'N.A.'}}</td></tr>
                    <tr><td>School Native Name: </td><td>{{BackgroundInfo.fb_sibling_3_native_schoolname || 'N.A.'}}</td></tr>
                    <tr><td>Education Level: </td><td>{{BackgroundInfo.fb_sibling_3_educationlevel || 'N.A.'}}</td></tr>
                    <tr><td>Last Year in Recent School: </td><td>{{BackgroundInfo.fb_sibling_3_schoolyear || 'N.A.'}}</td></tr>
                    <tr><td>Study on Interest: </td><td>{{BackgroundInfo.fb_sibling_3_schoolinterest || 'N.A.'}}</td></tr>
                  </template>
                  </tbody>
                </table>
              </template>
              <template v-else>
                No Siblings
              </template>
            </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default{
    props:{
      BackgroundInfo:Object
    },
  }
</script>


<style>
  .collapsible tr {
    height: 1em;
  }

  .collapsible td{
    padding-top: 5px;
    padding-bottom: 0px;
  }

  .collapsible th{
    padding-top: 5px;
    padding-bottom: 0px;
  }

</style>
