<template>
  <div class="badgesTable">
    <div class="row">
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('pm')">Personal Management</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(1)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{a}}</span>/<span class="denominator">{{A}}</span></div>
          </div>
        </div>

      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('ps')">Persentation Skills</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(2)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{b}}</span>/<span class="denominator">{{B}}</span></div>
          </div>
        </div>
      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('ei')">Emotional Intelligence</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(3)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{c}}</span>/<span class="denominator">{{C}}</span></div>
          </div>
        </div>
      </div>

      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('me')">Meiguo Education</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(4)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{d}}</span>/<span class="denominator">{{D}}</span></div>
          </div>
        </div>
      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('ex')">Extracurricular</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(5)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{e}}</span>/<span class="denominator">{{E}}</span></div>
          </div>
        </div>
      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('ac')">Academics</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(6)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{f}}</span>/<span class="denominator">{{F}}</span></div>
          </div>
        </div>
      </div>

      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('we')">Work Ethic</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(7)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{g}}</span>/<span class="denominator">{{G}}</span></div>
          </div>
        </div>
      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('qt')">Quizzes/Testing</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(8)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{h}}</span>/<span class="denominator">{{H}}</span></div>
          </div>
        </div>
      </div>
      <div class="badgeCard col m4 info-cell">
        <div class="badgesClassColor badgeCardCell">
          <a class="button badgeClass" @click="gotoBadges('mi')">Misc</a>
          <div class="status">
            <div class="gains"></div>
            <div class="complete"><span>{{percent(9)}}</span>% complete</div>
            <div class="complete_num"><span class="numerator">{{i}}</span>/<span class="denominator">{{I}}</span></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>


<script>
  import {EventBus} from '../eventhub'

  export default {
    props:{
      badgemodal:String,
      badges:Array,
    },
    data:function () {
      return { // these numbers are derived from base.vue
        a:0,A:4,
        b:0,B:3,
        c:0,C:4,
        d:0,D:4,
        e:0,E:6,
        f:0,F:12,
        g:0,G:2,
        h:0,H:6,
        i:0,I:3
      }
    },
    methods:{
      gotoBadges:function(id){
          console.log('goto ',this.badgemodal,id);
          EventBus.$emit('ShowBadges',id);
          $('#'+this.badgemodal).modal('open');
      },
      updateStatistics:function () {
          this.a = 0;
          this.b = 0;
          this.c = 0;
          this.d = 0;
          this.e = 0;
          this.f = 0;
          this.g = 0;
          this.h = 0;
          this.i = 0;
        this.badges.forEach((badge)=>{
//              console.log(b);
            if (badge.indexOf('a') != -1) {
              this.a = this.a + 1;
            } else if (badge.indexOf('b') != -1) {
              this.b = this.b + 1;
            } else if (badge.indexOf('c') != -1) {
              this.c = this.c + 1;
            } else if (badge.indexOf('d') != -1) {
              this.d = this.d + 1;
            } else if (badge.indexOf('e') != -1) {
              this.e = this.e + 1;
            } else if (badge.indexOf('f') != -1) {
              this.f++;
            } else if (badge.indexOf('g') != -1) {
              this.g++;
            } else if (badge.indexOf('h') != -1) {
              this.h++;
            } else if (badge.indexOf('i') != -1) {
              this.i++;
            }
        });
      },
      calculateFool:function (a,b) {
        return Math.floor(a*100/b);
      },
      percent:function (i) {
        switch (i){
          case 1:
            return this.calculateFool(this.a,this.A);
            break;
          case 2:
            return this.calculateFool(this.b,this.B);
            break;
          case 3:
            return this.calculateFool(this.c,this.C);
            break;
          case 4:
            return this.calculateFool(this.d,this.D);
            break;
          case 5:
            return this.calculateFool(this.e,this.E);
            break;
          case 6:
            return this.calculateFool(this.f,this.F);
            break;
          case 7:
            return this.calculateFool(this.g,this.G);
            break;
          case 8:
            return this.calculateFool(this.h,this.H);
            break;
          case 9:
            return this.calculateFool(this.i,this.I);
            break;
        }

      }
    },
    computed:{

    },
    watch:{
          badges:function () {
            this.updateStatistics();
          }
    },
    mounted() {
          this.updateStatistics();
    }
  }
</script>
