<template>
  <div v-bind:id="id" class="modal modal-fixed-footer">
    <div class="modal-content">
        <table class="striped" v-for="(value,key) in badges" v-bind:id="key" v-if="isShown==key">
          <tbody>
          <tr v-for="b in value" v-bind:id="b.code" v-bind:class="[isChecked(b.code) ? 'check':'uncheck']">
            <a @click="check(b.code)"><td><i v-bind:class="b.icon" aria-hidden="true" ></i></td>
            <td>{{b.name}}</td>
            <td>{{b.description}}</td>
            </a>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</template>

<script>
  import {EventBus} from '../eventhub'
  import StudentService from '../services/StudentService'

  export default {
    props:{
        id:String,
        badges:Object,
      lock:Boolean
    },
    data:function () {
      return {
        isShown:'',
        gain:[],
      }
    },
    methods:{
      isChecked:function (id) {
        return this.gain.indexOf(id) != -1;
      },
      check:function (id) {
//        console.log('you check a box');

        let index = this.gain.indexOf(id);
//        console.log(this.gain,index,id);
        if (index == -1) {
          this.gain.push(id);
          EventBus.$emit('UpdateBadges',{'mode':'add','badgeId':id});
        } else {
//          console.log('delete',id);
          this.gain.splice(index,1);
          EventBus.$emit('UpdateBadges',{'mode':'remove','badgeId':id});
        }
      },
      checkLock:function () {
        if (this.lock) {
          console.log('scroll enable');
          $('body').css('overflow-y','hidden')
        } else {
          console.log('scroll disable');
          $('body').css('overflow-y','scroll')
        }
      }
    },
    mounted() {
      $('#'+this.id).modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        complete: this.checkLock // Callback for Modal close
      })

      EventBus.$on('ShowBadges',data=>{
//          console.log('show this badges: ',data);
          this.isShown = data;
      });
      EventBus.$on('GainBadges',data=>{
//          console.log('gain these badges:',data);
          this.gain = data;
      });
    },
    beforeDestory() {
        EventBus.$off('ShowBadges');
        EventBus.$off('GainBadges');
    }
  }
</script>

<style>
  .check{
    color: black;
  }
  .check td {
    color: black;
  }

  .uncheck{
    color: #90a4ae;
  }
  .uncheck td{
    color: #90a4ae;
  }

</style>
