<template>
  <div>
    <div class="col s12 info-cell-tall">
      <table class="info-text line-height-tall">
        <tr><th>Total number of Available Badges:</th><td>{{totalNum}}</td></tr>
        <tr><th>Complete Percent:</th><td>{{completePercent}}</td></tr>
        <tr><th>Recent Get:</th><td>{{recentGet}}</td></tr>
      </table>
    </div>
  </div>
</template>


<script>
  import {EventBus} from '../eventhub'

  export default {
    props:{
      gains:Array,
      totalNum:Number
    },
    data:function() {
      return {
        recentGet:""
      }
    },
    watch:{
      gains:function(){
        EventBus.$emit('getBadgesDetail',this.gains[this.gains.length - 1])
      }
    },
    computed:{
      completePercent:function() {
        return (this.gains.length * 100 / this.totalNum) .toFixed(2) + '%'
      }
    },
    mounted() {
      EventBus.$on('res_getBadgesDetail',data =>{
        this.recentGet = data
      })
      this.$nextTick(function () {
        EventBus.$emit('getBadgesDetail',this.gains[this.gains.length - 1])
      })

    },
    beforeDestory() {
      EventBus.$off('res_getBadgesDetail');
    }

  }
</script>
