<template>
  <div>
    <topbar></topbar>
    <div>
      <main-panel
        :lock="lock"
        :modal="modal"
        :badgemodal="badgemodal"
        :badgenum="totoalBadgeNum"
      ></main-panel>
    </div>

    <SideNav
      :lock="lock"
      :cropperID="cropperID"
    ></SideNav>
    <Modal
      :id="modal"
      :lock="lock"
    ></Modal>
    <BadgeModal
      :id="badgemodal"
      :badges="badges"
      :lock="lock"
    ></BadgeModal>
    <cropImage
      :cropperID="cropperID"
      :lock="lock"
    ></cropImage>
  </div>
</template>

<script>
  import Topbar from './Topbar'
  import MainPanel from './MainPanel'
  import SideNav from './SideNav'
  import Modal from './Modal.vue'
  import BadgeModal from './BadgeModal.vue'
  import cropImage from './cropImage.vue'
  import {EventBus} from '../eventhub'

  export default {
    components: {
      Topbar,
      MainPanel,
      SideNav,
      Modal,
      BadgeModal,
      cropImage,
    },
    data:function () {
      return {
        modal:"mymodal",
        badgemodal:"mybadgemodal",
        badges:{
          "pm":[
            {
              "code":"a1",
              "icon":"fa fa-dropbox picsnap",
              "name":"GoogleCalendar app--Planning Ahead",
              "description":"XXXXX"
            },
            {
              "code":"a2",
              "icon":"fa fa-dropbox picsnap",
              "name":"GoogleCalendar app--Making a To-Do List (e.g. Homework)",
              "description":"XXXXX"
            },
            {
              "code":"a3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Paper Editing Etiquette",
              "description":"XXXXX"
            },
            {
              "code":"a4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Organized Break Plans",
              "description":"XXXXX"
            },
            {
              "code":"a5",
              "icon":"fa fa-dropbox picsnap",
              "name":"No Cancelled Meetings! --Badge for every half term",
              "description":"XXXXX"
            }
          ],
          "ps":[
            {
              "code":"b1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Job/Internship Interview (Mock)",
              "description":"XXXXX"
            },
            {
              "code":"b2",
              "icon":"fa fa-dropbox picsnap",
              "name":"College Admissions Interview (Mock)",
              "description":"XXXXX"
            },
            {
              "code":"b3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Campaigning Etiquette",
              "description":"XXXXX"
            }
          ],
          "ei":[
            {
              "code":"c1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Beginner",
              "description":"XXXXX"
            },
            {
              "code":"c2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Intermediate",
              "description":"XXXXX"
            },
            {
              "code":"c3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter Quizzes--Advance",
              "description":"XXXXX"
            },
            {
              "code":"c4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Mood Meter App",
              "description":"XXXXX"
            }
          ],
          "me":[
            {
              "code":"d1",
              "icon":"fa fa-dropbox picsnap",
              "name":"1 Year with MGE; 2 Years with MGE",
              "description":"XXXXX"
            },
            {
              "code":"d2",
              "icon":"fa fa-dropbox picsnap",
              "name":"1 Term with MGE; 2 Terms with MGE",
              "description":"XXXXX"
            },
            {
              "code":"d3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Chose Interest of Study for MGE Customized Student Program",
              "description":"XXXXX"
            },
            {
              "code":"d4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Networking--MGE Introduce to 1 Person in Field of Interest ",
              "description":"XXXXX"
            }
          ],
          "ex":[
            {
              "code":"e1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Volunteer Hour Milestones",
              "description":"XXXXX"
            },
            {
              "code":"e2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Volunteermatch",
              "description":"XXXXX"
            },
            {
              "code":"e3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Joined New Club/Organization",
              "description":"XXXXX"
            },
            {
              "code":"e4",
              "icon":"fa fa-dropbox picsnap",
              "name":"Joined New Sport/Physical Activity",
              "description":"XXXXX"
            },
            {
              "code":"e5",
              "icon":"fa fa-dropbox picsnap",
              "name":"Established a New Club/Organization",
              "description":"XXXXX"
            },
            {
              "code":"e6",
              "icon":"fa fa-dropbox picsnap",
              "name":"Organized a Charity Drive ",
              "description":"XXXXX"
            }
          ],
          "ac":[
            {
              "code":"f1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Collegeboard",
              "description":"XXXXX"
            },
            {
              "code":"f2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Register--Collegematch",
              "description":"XXXXX"
            },
            {
              "code":"f3",
              "icon":"fa fa-paperclip picsnap",
              "name":"Register--Wyzant",
              "description":"XXXXX"
            },
            {
              "code":"f4",
              "icon":"fa fa-bars picsnap",
              "name":"Registered Online Course(s)",
              "description":"XXXXX"
            },
            {
              "code":"f5",
              "icon":"fa fa-bars picsnap",
              "name":"Draft UC Personal Statement Answers",
              "description":"XXXXX"
            },
            {
              "code":"f6",
              "icon":"fa fa-bars picsnap",
              "name":"Academic ePortfolio",
              "description":"XXXXX"
            },
            {
              "code":"f7",
              "icon":"fa fa-users picsnap",
              "name":"Completed One University Program as an Outside Student",
              "description":"XXXXX"
            },
            {
              "code":"f8",
              "icon":"fa fa-users picsnap",
              "name":"Attended School University Fair",
              "description":"XXXXX"
            },
            {
              "code":"f9",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Region",
              "description":"XXXXX"
            },
            {
              "code":"f10",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Majors/Minors",
              "description":"XXXXX"
            },
            {
              "code":"f11",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Housing",
              "description":"XXXXX"
            },
            {
              "code":"f12",
              "icon":"fa fa-users picsnap",
              "name":"Laid Out College Criteria -- Facilities",
              "description":"XXXXX"
            }
          ],
          "we":[
            {
              "code":"g1",
              "icon":"fa fa-dropbox picsnap",
              "name":"WeChat Etiquette",
              "description":"XXXXX"
            },
            {
              "code":"g2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Resume Creation",
              "description":"XXXXX"
            }
          ],
          "qt":[
            {
              "code":"h1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Took Career Quiz",
              "description":"XXXXX"
            },
            {
              "code":"h2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Took Personality Quiz",
              "description":"XXXXX"
            },
            {
              "code":"h3",
              "icon":"fa fa-question picsnap",
              "name":"Broke Creation Scores and/or PRS",
              "description":"XXXXX"
            },
            {
              "code":"h4",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- TOFEL",
              "description":"XXXXX"
            },
            {
              "code":"h5",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- SAT",
              "description":"XXXXX"
            },
            {
              "code":"h6",
              "icon":"fa fa-question picsnap",
              "name":"Completed Test -- ACT",
              "description":"XXXXX"
            }
          ],
          "mi":[
            {
              "code":"i1",
              "icon":"fa fa-dropbox picsnap",
              "name":"Personal Blog",
              "description":"XXXXX"
            },
            {
              "code":"i2",
              "icon":"fa fa-dropbox picsnap",
              "name":"Driver's Ed",
              "description":"XXXXX"
            },
            {
              "code":"i3",
              "icon":"fa fa-dropbox picsnap",
              "name":"Behind the Wheel Test",
              "description":"XXXXX"
            }
          ]
        },
        badgemeta:{
          0:'pm',
          1:'ps',
          2:'ei',
          3:'me',
          4:'ex',
          5:'ac',
          6:'we',
          7:'qt',
          8:'mi'
        },
        cropperID:'mycrop',
        lock:true,
      }
    },
    computed:{
      totoalBadgeNum:function () {
        var count = 0;
        for (var i in this.badges) {
          count += this.badges[i].length
        }
//        console.log('base count total badge number is: ',count);
        return count;
      }
    },
    methods:{
      handleResize(event) {
        console.log('window size handler ',window.innerHeight-120,$('.carousel-slider').height());
//        $('.carousel-slider').carousel();

        $('.pushpin').each(function() {
          var $this = $(this)
          var $target = $('#' + $(this).attr('data-target'));
          $this.pushpin({
            top: $target.offset().top,
            bottom: $target.offset().top + $target.outerHeight() - $this.height(),
            // top:0,
            // bottom:500,
            offset: 45
          })
        })
        $('ul.tabs').tabs()
        $('.carousel.carousel-slider').height(window.innerHeight-120)
//        $('.carousel-slider').carousel({fullWidth: true});
//        console.log($('.carousel-slider').height());
//        alert('stop');
      },
      _getDetail:function(code) {
        let index = code.charCodeAt(0) - 97
        if (index <= 0) return "No Badges Found"
//        console.log(code,index,this.badgemeta[index]);
        let array = this.badges[this.badgemeta[index]]
        if (!array) return "No Badges Found"
        index = parseInt(code.slice(1));
        if (index >= array.length) return "No Badges Found"
//        console.log(array[index - 1]);
        return array[index - 1].name
      }
    },
    mounted(){
      $('.carousel.carousel-slider').carousel({fullWidth: true});
      $('.carousel-slider').height(window.innerHeight-120);

      EventBus.$on('lockEvent',data => {
        this.lock = data;
      })

      EventBus.$on('getBadgesDetail',data => {
        EventBus.$emit('res_getBadgesDetail',this._getDetail(data))
      })

      this.$nextTick(function() {
        var timeout;
        var that = this;
        window.addEventListener('resize', function () {
          clearTimeout(timeout);
          timeout = setTimeout(
            that.handleResize()
          , 200);
        })
      });
    },
//    ready: function () {
//      window.addEventListener('resize', function() {
//        console.log('window size change')
//        this.handleResize()
//      })
//    },
    beforeDestroy: function () {
      window.removeEventListener('resize', this.handleResize)
      EventBus.$off('lockEvent');
      EventBus.$off('getBadgesDetail');
    }
  }
</script>


