<template>
  <div v-bind:id="contentName" class="mcontent">
    <div class ="row">
      <div class="col m12 greyback">
        <div class="carousel carousel-slider center">
          <user-list class="carousel-item black-text" href="#one!"></user-list>
          <user-detail class="carousel-item white-text" href="#two!"
           :modal="modal"
           :badgemodal="badgemodal"
           :badgenum="badgenum"
           :lock="lock"
          ></user-detail>
        </div>

        <!--<slick ref="slick" :options="slickOptions">-->
          <!--<a>-->
            <!--<user-list class="carousel-item black-text"-->
            <!--v-on:detail="goToDetail"-->
            <!--&gt;</user-list>-->
            <!--1-->
          <!--</a>-->
          <!--<a>-->
            <!--<user-detail class="carousel-item white-text"-->
                     <!--v-on:list="goToList"-->
                     <!--:modal="modal"-->
                     <!--:badgemodal="badgemodal">-->

            <!--</user-detail>-->
            <!--2-->
          <!--</a>-->
        <!--</slick>-->
      </div>
    </div>
  </div>
</template>

<script>
  import UserList from './UserList'
  import UserDetail from './UserDetail'


  export default {
    components: {
      UserList,
      UserDetail
    },
    props:{
      contentName:String,
      modal:String,
      badgemodal:String,
      badgenum:Number,
      lock:Boolean
    },
    data:function () {
      return {
        slickOptions:{
          dots:false,
          arrows:false
        }
      }
    },
    methods:{
      goToDetail:function () {
        this.$refs.slick.next();
      },
      goToList:function () {
        this.$refs.slick.prev();
      }
    },
    mounted() {
//      $('.carousel-slider').carousel();
//      $('.carousel-slider').height(window.innerHeight-120);
    }
  }
</script>
