<template>
  <div v-bind:id="cropper.id" class="modal modal-fixed-footer black-text" style="height: 650px">
    <div class="modal-content">
        <vueCropper
          ref="cropper"
          :img="cropper.img"
          :autoCrop="cropper.autoCrop"
          :autoCropWidth="cropper.autoCropWidth"
          :autoCropHeight="cropper.autoCropHeight"
          :fixedBox="cropper.fixedBox"
        ></vueCropper>
    </div>
    <div class="modal-footer">
      <div class="center">
        <label class="btn" for="uploads">upload</label>
        <input type="file" id="uploads" style="position:absolute; clip:rect(0 0 0 0);" accept="image/png, image/jpeg, image/gif, image/jpg" @change="uploadImg($event)">
        <a class="btn" @click="rotateleft">left rotate</a>
        <a class="btn" @click="rotateright">right rotate</a>
        <a class="btn" @click="cropImg">submit</a>
        <!--<a class="btn" @click="sendImg">submit</a>-->
      </div>
    </div>
  </div>
</template>


<script>
  import vueCropper from './vue-cropper';
  import StudentService from '../services/StudentService'
  import {EventBus} from '../eventhub'

  export default {
    components: {
      vueCropper,
    },
    props:{
      cropperID:String,
      lock:Boolean,
    },
    data() {
      return {
        receive:{},
        cropper:{
          id:this.cropperID,
          img: '',
          autoCrop: true,
          autoCropWidth: 200,
          autoCropHeight: 200,
          fixedBox: true,
          outputType:'jpeg'
        }
      }
    },
    methods:{
      rotateleft:function () {
        this.$refs.cropper.rotateLeft();
      },
      rotateright:function () {
        this.$refs.cropper.rotateRight();
      },
      cropImg:function () {
        console.log('this is upload');
        this.$refs.cropper.getCropData((data) => {
          var formData = new FormData();
          var that = this;
          formData.append("fileToUpload",this.$refs.cropper.getBlobFromBs64(data));

          StudentService.uploadImg(formData,
            function (res) {
              console.log('success: ',res);
              if (res.status !== 200) {
                return;
              }
//              that.$emit('upload',data);
              that.receive.receiver.receiveImgFromCrop(data);
              that.cropper.img = '';
              that.receive = {};
              $('#'+that.cropper.id).modal('close');
            },function (err) {
              console.log('upload img fail: ',err);
            },(that.receive.targetID ? that.receive.targetID : ""));
//          this.$emit('upload',data);
        })
      },
      uploadImg (e) {
        //上传图片
        // this.option.img
        var file = e.target.files[0]
        if (!/\.(gif|jpg|jpeg|png|bmp|GIF|JPG|PNG)$/.test(e.target.value)) {
          alert('图片类型必须是.gif,jpeg,jpg,png,bmp中的一种')
          return false
        }
        console.log(e);
        var reader = new FileReader()
        reader.onload = (e) => {
//          console.log('render onload: ',e.target.result);
//          this.$emit('upload',e.target.result);
          this.cropper.img = e.target.result;
//          this.receive.receiver.receiveImgFromCrop(e.target.result);
        }
        reader.readAsDataURL(file)
      },
      checkLock:function () {
        if (this.lock) {
          console.log('scroll disable');
          $('body').css('overflow-y','hidden')
        } else {
          console.log('scroll enable');
          $('body').css('overflow-y','scroll')
        }
      }
    },
    mounted() {
      this.$refs.cropper.reload();

      $('#'+this.cropperID).modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        complete: this.checkLock // Callback for Modal close
      })

      EventBus.$on('cropImg',data=>{
        console.log('in cropImg ',data);
        this.receive = data;
        if (this.receive.imgUrl) {
          this.cropper.img = this.receive.imgUrl;
        }
        $('#'+this.cropper.id).modal('open');
      });
    },
    beforeDestroy() {
      EventBus.$off('cropImg');
    }
  }
</script>
