<template>
  <div class="center-out">
    <div v-if="isSelected" v-bind:class="{unselected:isSelected}">{{defaultSelected}}</div>
    <div class="center-in">
      <span class='dropdown-button' v-bind:data-activates='id' v-bind:class="{isselected:isSelected, unselected:!isSelected}">{{selected}}</span>

      <!-- Dropdown Structure -->
      <ul v-bind:id='id' class='dropdown-content' style='width: auto !important;' v-bind:style="{'column-count':columnCount}">
        <li v-for="(choice,index) in rows"><a @click="choose(index)">{{choice}}</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
  export default {
    props:{
      id:String,
      rows:Array,
      defaultSelected:String,
      maxCol:{
        type:Number,
        default:5
      }
    },
    data:function () {
      return {
          selected:this.defaultSelected,
        columnCount:1
      }
    },
    computed:{
      isSelected:function () {
//        console.log('judge',this.defaultSelected,this.selected);
        return this.defaultSelected !== this.selected;
      }
    },
    methods:{
      choose:function (index) {
        this.selected = this.rows[index];
        this.$emit('select',this.selected);
      },
      initColunmCount:function () {
        var len = this.rows.length
//        console.log('dropdown has ',len,' elements');
        let properCol = this.maxCol;
        while (properCol >= 2) {
//          console.log(len,' ',properCol);
          if (len%properCol == 0 && properCol != len) {
//            console.log('break: ',properCol);
            break
          }
          properCol--
        }

        if (len%properCol != 0 || properCol == len) properCol = 1
        this.columnCount = properCol
//        this.columnCount = 1
      }
    },
    mounted() {
      $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 200,
        stopPropagation: false,
        alignment:'left',
        hover: true,
        belowOrigin: false,
        constrainWidth:false,
      });

      this.initColunmCount()
    }
  }

</script>

<style>
  .center-out{
    height: 3em;
  }

  .center-in{
    /*background-color: #90a4ae;*/
    padding-top: 1em;
    font-size: 1rem;
  }
  .isselected {
    color: black;
  }
  .unselected {
    color: #9e9e9e;
  }
</style>
