<template>
  <div class="todo-list-high col s12">
      <!--<table v-if="!modflag" class="todo-list-head">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th class="table-head-min" v-for="(key,index) in columns"-->
              <!--@click="sortBy(key)"-->
              <!--:class="{ active: sortKey == key}">-->
            <!--{{ names[index] | capitalize}}-->
            <!--<span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">-->
              <!--</span>-->
          <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr v-for="(entry,index) in filteredData">-->
          <!--<td v-for="col in columns">-->
            <!--{{retrieveInfo(entry,col)}}-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
      <div v-if="!modflag" class="col s12 todo-like">
        <divtable
          :data="data"
          :dataPath="columns"
          :headers="names"
          :colsWidth="data_colWidth"
          :filterKey="filterKey"
        ></divtable>
      </div>

      <div v-if="modflag" class="col s12 table-like">
        <divtable
          :data="statistic"
          :dataPath="statisticsPath"
          :headers="stat_headers"
          :colsWidth="stat_colWidth"
          :filterKey="filterKey"
        ></divtable>
      </div>

      <a @click="changeMode()" class="btn">{{mod}}</a>
  </div>
</template>


<script>
  import divtable from './sub_components/divtable.vue'

  export default {
    components:{
      divtable
    },
    props: {
      data:Array,
      columns: Array,
      names:Array,
      filterKey: String,
      role:String
    },
    data: function () {
      var sortOrders = {};

      this.columns.forEach(function (key) {
        sortOrders[key] = 1
      });

      return {
        sortKey: '',
        sortOrders: sortOrders,
        statistics: {},
        statisticsPath:['name','avgWeekYear','avgHourWeek','lowEnd','highEnd'],
        stat_headers:['Activity Name','Weeks/Year','Average hours spent/week','Minimun hours in a week','Maximum hours in a week'],
        stat_colWidth:[4,2,2,2,2],
        data_colWidth:[1,2,1,1,3,2,1,1],
        mod:'Statistics',
        modflag:false
      }
    },
    computed: {
      filteredData: function () {
        var sortKey = this.sortKey;
        var filterKey = this.filterKey && this.filterKey.toLowerCase();
        var order = this.sortOrders[sortKey] || 1;
        var data = this.data;
        // console.log(data);
        if (filterKey) {
          var that = this;

          data = data.filter(function (row) {
            return that.columns.some(function (key) {
              return String(that.retrieveInfo(row,key)).toLowerCase().indexOf(filterKey) > -1
            })
          })
        }
        if (sortKey) {
          var that = this;
          data = data.slice().sort(function (a, b) {
//            if (sortKey === 'position' || sortKey === 'name' || sortKey === 'describe') {
//              a = a['detail'][sortKey];
//              b = b['detail'][sortKey];
//            } else {
//              a = a[sortKey];
//              b = b[sortKey];
//            }
            a = that.retrieveInfo(a,sortKey)
            b = that.retrieveInfo(b,sortKey)
//            console.log(a,b,a>b);
//            console.log(a[sortKey],b[sortKey],a[sortKey] > b[sortKey]);
            return (a === b ? 0 : a > b ? 1 : -1) * order
          })
        }
        return data
      },
      statistic: function () { // return object of {actName:hoursPerWeek#}
        var o = new Object();

        for (let i in this.statistics) { // go through different activities
          o[i] = {
            'avgHourWeek':0,
            'lowEnd':24,
            'highEnd':0,
            'avgWeekYear':0
          };
          let yearNum = 0;
          let weekNum = 0;

          for (let j in this.statistics[i]) { // go through different years
            weekNum += Object.keys(this.statistics[i][j]).length ? Object.keys(this.statistics[i][j]).length : 0;
            yearNum += 1;
            o[i]['avgWeekYear'] += Object.keys(this.statistics[i][j]).length

            for (let n in this.statistics[i][j]) { // go though different weeks in a year
              this.statistics[i][j][n].forEach(h => {
                o[i]['avgHourWeek'] += parseInt(h) // sum up all hours
                if (h > o[i]['highEnd']) o[i]['highEnd'] = h
                if (h < o[i]['lowEnd']) o[i]['lowEnd'] = h
              })
            }
          }
          // calculate average hours per week
//          console.log('hours in total: ', o[i],'  weeks in total:',weekNum);
          if (weekNum != 0) o[i]['avgHourWeek'] = (o[i]['avgHourWeek'] / weekNum).toFixed(1)

//          console.log('weeks in total: ',o[i],' years in total: ',yearNum);
          if (yearNum != 0) o[i]['avgWeekYear'] = (o[i]['avgWeekYear'] / yearNum).toFixed(1)
        }

        let ar = new Array();
        for (let i in o) {
          console.log('this should be key: ',i);
          o[i]['name']= i;
          ar.push(o[i])
        }
        return ar
      },
      weeksPerYear: function () { // return object of {actName:weeksPerYear#}
        var o = {};

        for (let i in this.statistics) { // go through different activities
          o[i] = 0;
          let yearNum = 0;
          for (let j in this.statistics[i]) { // go through different years
            yearNum += 1;
            o[i] += Object.keys(this.statistics[i][j]).length
          }

          // calculate average weeks per year
          console.log('weeks in total: ',o[i],' years in total: ',yearNum);
          if (yearNum != 0) o[i] = (o[i] / yearNum).toFixed(1)
        }
        return o
      },

    },
    watch:{
      data:function (data) { // will call when data update from parent, we can retrieve last element as the last add ele
        console.log('new data',data)
        if (Object.keys(this.statistics).length == 0) {
          console.log('initial')
          this._initialStatistics()
        } else {
          console.log('modify')
          this._modifyStatistics(this.statistics, data[data.length - 1])
        }
      }
    },
    filters: {
      capitalize: function (str) {
        return str.charAt(0).toUpperCase() + str.slice(1)
      },
      notificate: function(str) {
        return str == true ? 'Todo' : 'Done';
      }
    },
    methods: {
      sortBy: function (key) {
        this.sortKey = key;
        this.sortOrders[key] = this.sortOrders[key] * -1
        // console.log(this.sortOrders);
      },
      changeMode: function () {
        if (this.mod === 'Statistics') {
          this.mod = 'Log'
          this.modflag = true
        } else {
          this.mod = 'Statistics'
          this.modflag = false
        }
      },
      checkinNout:function(data){
        // this.data[index].active = this.data[index].active == true ? false : true;
        data.active = data.active ? false : true;
      },
      retrieveInfo:function (obj,path) {
        path = path.split('/');
        for (let i in path) {
          if (obj) obj = obj[path[i]]
        }
//        console.log('information retrieve: ',obj)
        return obj ? obj : ''
      },
      _initialStatistics:function () { // @func initial activities statistic for the first time
        var r = {};
        this.data.forEach(d => {
          this._modifyStatistics(r,d)
        });

        this.$set(this,'statistics',r)
      },
      /**@func called when new record added
       * @param {object} entry - new activity record
       * */
      _modifyStatistics:function (r,d) {
        let name = d.detail.name + '-'+ d.type;
        if (!r[name]) { // new activity
          r[name] = {}
        }

        let act = r[name];
        if (!act[d.meet_date.year]) { // new year
          act[d.meet_date.year] = {}
        }

        let year = act[d.meet_date.year];
        if (!year[d.meet_date.week]) {
          year[d.meet_date.week] = []
        }
        year[d.meet_date.week].push(d.hours)
      }
    },
    directives: {
      focus: function (el, binding) {
        // console.log(el);
        if (binding.value) {
          el.focus()
        }
      }
    }
  }
</script>


<style>
  .table-header div {
    color: rgba(238,110,115,0.7);
    font-size: 1.4em;
    margin-bottom: 5px;
  }

  .table-body div {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

</style>
