<template>
  <div>
    <!--<a class="btn" @click="random">random</a>-->
    <div>
      <span class="center score">Average Score:{{average}}</span>
      <div class="progress" v-bind:class="mood" style="height:20px;">
        <div class="determinate" v-bind:style="{'width':percent}"></div>
      </div>

      <!--<div class="progress" v-bind:class="mood">-->
        <!--<div class="determinate" v-bind:style="{'width':this.randRatio}"></div>-->
      <!--</div>-->
    </div>

  </div>
</template>

<script>
  export default {
    props:{
      happi:Array,
      len:Number,
    },
    data() {
      return {
        randNum:0,
        randRatio:'0%'
      }
    },
    methods:{
      random:function () {
        this.randNum = (Math.random()*5).toFixed(2)
        this.randRatio = Math.floor(this.randNum * 20) + '%'
      }
    },
    computed:{
        average:function () {
          return (this.sum / this.len).toFixed(2);
        },
        sum:function () {
          let sum = 0;
          this.happi.forEach((val) => {
            sum += val;
          });
          return sum;
        },
        percent:function () {
            let p = (this.sum*20)/(this.len);
            p = Math.floor(p);
            return (p <= 100 ? p : 100) + '%';
        },
        mood:function () {
          console.log('compute mood:',this.average)
          if (this.average < 2) {
            return "bad"
          } else if (this.average < 3.5) {
            return "normal"
          } else {
            return "good"
          }
        }
    },
  }

</script>

<style>
  .progress{
    height: 20px;
  }
  .score {
    z-index: 999;
    color: black;
  }

  .bad {
    background-color: #ffccbc;
  }

  .bad .determinate {
    background-color: #ff5722;
  }
  .normal {
    background-color:#fff9c4;
  }

  .normal .determinate{
    background-color:#ffeb3b;
  }

  .good{
    background-color:#c8e6c9;
  }

  .good .determinate{
    background-color:#4caf50;
  }
</style>
