<template>
  <div>
    <pushpin
      :lock="lock"
      :modal="modal"
      :badgemodal="badgemodal"
      :badgenum="badgenum"
    ></pushpin>
  </div>
</template>

<script>
  import Pushpin from './Pushpin'
  export default {
    components: {
      Pushpin,
    },
    props:{
        modal:String,
      badgemodal:String,
      lock:Boolean,
      badgenum:Number
    }
  }
</script>
