<template>
  <div class="container">
  <div class="row">
  <div class="input-field col m2"><h5>Create User</h5></div>
  <!-- <div class="col m3"></div> -->
  <div class="input-field col m2">
  <input id="new_username" type="email" class="validate" v-model="createuser.username">
  <label for="new_username">Username</label>
  <!-- <input id="new_username" type="text">
  <label class="active" for="new_username">Username</label> -->
  </div>
  <div class="input-field col m2">
  <input id="new_password" type="text" v-model="createuser.password">
  <label class="active" for="new_password">Password</label>
  </div>

  <div class="input-field col m1">
    <DropDown
      v-on:select="updateRole"
      :id="createuser.role_id"
      :rows="createuser.role_rows"
      :defaultSelected="createuser.role_default"
    ></DropDown>
  </div>
  <div class="input-field col m3"><a @click="createUser('user_role')" class="waves-effect waves-light btn">CREATE</a></div>
  </div>

  <div class="row">
    <div class="col m2"><h5>Delete User</h5></div>
    <div class="input-field col m4">
      <input id="delete_username" type="email" class="validate" v-model="deleteuser.username">
      <label class="active" for="delete_username">Username</label>
    </div>

    <div class="input-field col m3"><a @click="deleteUser()" class="waves-effect waves-light btn">DELETE</a></div>
  </div>
  </div>
</template>

<script>
  import DropDown from './DropDown.vue'
  import StudentService from '../services/StudentService'

  export default {
    components: {
      DropDown
    },
    data: function () {
      return {
        createuser:{
          role_id:'newuserole',
          role_rows:['STUD','FT','DOE','PMC','ADMIN'],
          role_default:'Role',
          role:'',
          username:'',
          password:'',
        },
        deleteuser:{
          username:''
        }
      }
    },

    methods: {
      updateRole : function (data) {
        this.createuser.role = data;
      },
      createUser : function () {
        StudentService.createUser(this.createuser.username,this.createuser.password,this.createuser.role,
          function(data) {
            console.log('create user success: ',data);
          },
          function(err) {
            console.log(err);
          }
        );
      },
      deleteUser : function () {
        StudentService.deleteUser(this.deleteuser.username,function (data) {
          console.log('delete user success: ',data);
        },function(err) {
          console.log(err);
        });
      }
    }
  }


</script>
