<template>
  <div v-bind:id="id" class="modal modal_delete black-text">
    <div class="modal-content">
      <h4>NOTICE</h4>
      <p>If you want to delete the record, click agree. If not, click anywhere else. Once deleted, the record cannot be retrieved.</p>
    </div>
    <div class="modal-footer">
      <a @click="agree()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</template>

<script>
  import {EventBus} from '../eventhub'

  export default {
    name:'modal-delete',
    props:{
        id:String,
      lock:Boolean
    },
    methods:{
      agree:function () {
        console.log('you agree to delete')
        EventBus.$emit('delete-todo')
        $('#'+this.id).modal('close')
      },
      checkLock:function () {
        if (this.lock) {
          console.log('scroll enable');
          $('body').css('overflow-y','hidden')
        } else {
          console.log('scroll disable');
          $('body').css('overflow-y','scroll')
        }
      }
    },
    mounted() {
      $('#'+this.id).modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        complete: this.checkLock // Callback for Modal close
      })
    }
  }
</script>
