<template>
  <div class="display">
    <a id="DOE_slider_top" class="top"></a>
    <div id="DOE_slider" class="block doe-color">
      <nav class="pushpin pinned mcontent-title pushpin" data-target="DOE_slider" style="top:45px;">
        <div class="nav-wrapper doe-color">
          <div class="container">
            <a v-scroll-to="{ el: '#DOE_slider_top' }" class="brand-logo">DOE List</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <div class="switch">
                  <label class="white-text">
                    Lock Off
                    <input v-model="pushpinLockStatus" @click="lockpin()" type="checkbox">
                    <span class="lever"></span>
                    Lock On
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="DOE_content" class="mcontent">
        <p>This is a test</p>
        <p>This is a test</p>
      </div>
    </div>

    <a id="PMC_slider_top" class="top"></a>
    <div id="PMC_slider" class="block pmc-color lighten-1">
      <nav class="pushpin pin-top mcontent-title pushpin" data-target="PMC_slider" >
        <div class="nav-wrapper pmc-color">
          <div class="container">
            <a v-scroll-to="{ el: '#PMC_slider_top' }" class="brand-logo">PMC List</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <div class="switch">
                  <label class="white-text">
                    Lock Off
                    <input v-model="pushpinLockStatus" @click="lockpin()" type="checkbox">
                    <span class="lever"></span>
                    Lock On
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="PMC_content" class="mcontent">
        <p>This is a test</p>
        <p>This is a test</p>
      </div>
    </div>

    <a id="FT_slider_top" class="top"></a>
    <div id="FT_slider" class="block ft-color lighten-1">
      <nav class="pushpin pin-top mcontent-title pushpin" data-target="FT_slider" >
        <div class="nav-wrapper ft-color">
          <div class="container">
            <a v-scroll-to="{ el: '#FT_slider_top' }" class="brand-logo">FT List</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <div class="switch">
                  <label class="white-text">
                    Lock Off
                    <input v-model="pushpinLockStatus" @click="lockpin()" type="checkbox">
                    <span class="lever"></span>
                    Lock On
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="FT_content" class="mcontent">
        <p>This is a test</p>
        <p>This is a test</p>
      </div>
    </div>

    <a id="Student_slider_top" class="top"></a>
    <div id="Student_slider" class="block stu-color lighten-1">
      <nav class="pushpin pin-top mcontent-title pushpin" data-target="Student_slider" >
        <div class="nav-wrapper stu-color">
          <div class="container">
            <a v-scroll-to="{ el: '#Student_slider_top' }"  class="brand-logo">Student List</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <div class="switch">
                  <label class="white-text">
                    Lock Off
                    <input v-model="pushpinLockStatus" @click="lockpin()" type="checkbox">
                    <span class="lever"></span>
                    Lock On
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <content-page
        :content-name="stud"
        :modal="modal"
        :badgemodal="badgemodal"
        :badgenum="badgenum"
        :lock="lock"
      ></content-page>
    </div>

    <a id="manage_slider_top" class="top"></a>
    <div id="Manage_slider" class="block mamge-color lighten-1">

      <nav class="pushpin pin-top mcontent-title pushpin" data-target="Manage_slider" >
        <div class="nav-wrapper mamge-color">
          <div class="container">
            <a v-scroll-to="{ el: '#manage_slider_top' }" class="brand-logo">Manage</a>
            <ul class="right hide-on-med-and-down">
              <li>
                <div class="switch">
                  <label class="white-text">
                    Lock Off
                    <input v-model="pushpinLockStatus" @click="lockpin()" type="checkbox">
                    <span class="lever"></span>
                    Lock On
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div id="manage_content" class="mcontent">
        <ManageContent></ManageContent>
      </div>
    </div>


  </div>
</template>


<style>
  .carousel {
    /*height: calc(100vh - 130px);*/
  }
</style>
<script>
  import ContentPage from './ContentPage'
  import {EventBus} from '../eventhub'
  import ManageContent from './ManageContent'

  export default {
    components: {
      ContentPage,
      ManageContent
    },
    props:{
      modal:String,
      badgemodal:String,
      lock:Boolean,
      badgenum:Number
    },
    data:function () {
      return {
        pushpinLockStatus:this.lock,
        stud:"STU_content"
      }
    },
    watch: {
      lock:function () {
        if (this.lock != this.pushpinLockStatus) this.pushpinLockStatus = this.lock;
      }
    },
    methods: {
      lockpin() {
          if (this.pushpinLockStatus) {
            $('body').css('overflow-y','hidden');
            $('.carousel-item').css('overflow-y','scroll');
          } else {
            $('body').css('overflow-y', 'scroll');
            $('.carousel-item').css('overflow-y', 'hidden');
          }
//          EventBus.$emit('pushpinLockStatus', this.pushpinLockStatus);
          EventBus.$emit('lockEvent', this.pushpinLockStatus);
      },
    },
    mounted() {
      $('.pushpin').each(function() {
        var $this = $(this);
        var $target = $('#' + $(this).attr('data-target'));
        $this.pushpin({
          top: $target.offset().top,
          bottom: $target.offset().top + $target.outerHeight() - $this.height(),
          // top:0,
          // bottom:500,
          offset: 45
        });
      });

      $('ul.tabs').tabs();

      this.lockpin();
    },
  }
</script>
