<template>
    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <div class="background">
        </div>
        <a><img class="circle tooltipped" data-position="right" data-delay="50" data-tooltip="edit" @click="editProfileImage()" v-bind:src="imgUrl"></a>
        <a href="#name"><span class="white-text name">{{nickname}}</span></a>
        <a href="#email"><span class="white-text email">{{email}}</span></a>
      </div></li>

      <li><a v-scroll-to="{ el: '#DOE_slider_top' }"><i class="material-icons">group</i>Directors Of Education</a></li>
      <li><a v-scroll-to="{ el: '#PMC_slider_top' }"><i class="material-icons">people</i>Counselors</a></li>
      <li><a v-scroll-to="{ el: '#FT_slider_top' }"><i class="material-icons">adb</i>Family Translators</a></li>
      <li><a v-scroll-to="{ el: '#Student_slider_top' }"><i class="material-icons">school</i>Students</a></li>

      <li><div class="divider"></div></li>


      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect" v-scroll-to="{ el: '#manage_slider_top' }"><i class="material-icons">vpn_key</i>Manage</a></li>
    </ul>
</template>

<script>
  //import this js library every time
  import 'materialize-css/dist/js/materialize.min';
  import {EventBus} from '../eventhub';

  export default {
    name:'sidenave',
    props:{
      cropperID:String,
      lock:Boolean,
    },
    data() {
      return {
        nickname:'wjm',
        email:'jia@me.com',
        imgUrl:'/v1/portrait/'
      }
    },
//    created() {
//        EventBus.$on('pushpinLockStatus', status => {
//          this.pushpinLockStatus = status;
//        });
//    },
    methods: {
      editProfileImage:function () {
//        console.log(this.$el);
//        $('#'+this.cropper.id).modal('open');
        EventBus.$emit('cropImg',{
          imgUrl:this.imgUrl,
          receiver:this,
          options:"",
        });
      },
      receiveImgFromCrop:function (img) {
        this.imgUrl=img;
      }
    },
    mounted () {
        $(".button-collapse").sideNav({
          closeOnClick: true,
          onClose: () => {
            if(this.lock){
              $('body').css('overflow-y','hidden');
            } else {
              $('body').css('overflow-y','scroll');
            }
          },
        });
    },
//    beforeDestroy() {
//        EventBus.$off('pushpinLockStatus');
//    },
  }
</script>
