<template>
  <div v-bind:id="id" class="snackbar" v-bind:class="{show: show}">{{msg}}
  </div>
</template>

<script>
  import {EventBus} from '../eventhub'

  export default {
    props:{
      id:String,
    },
    data:function(){
      return {
        msg:"default message...",
        show:false
      }
    },
    methods:{
      toast:function (msg) {
        this.msg = msg
        this.show = true
        var that = this;
        setTimeout(function () {
          that.show = false
          that.msg = ""
        },3000);
      }
    },
    mounted() {
      EventBus.$on('snackbar',msg => {
        this.toast(msg)
      })
    },
    beforeDestroy() {
      EventBus.$off('snackbar')
    }
  }
</script>

<style>
  .snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 0px;
    font-size: 17px;
    z-index: 9999;
  }

  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
</style>
