<template>
  <div>
    <table class="todo-list-head">
      <thead>
      <tr>
          <th style="width: 141px">
            <h5>{{title}}</h5>
          </th>
          <th style="width: 80px;"></th>
          <th class="modecontrol">
              <span>
                <input :name= "role" type="radio" :id="role+1" value="Todo+Done" v-model="mode"/>
                <label :for="role+1" style="padding-left:21px">Todo+Done</label>
              </span>
            <span>
                <input :name="role" type="radio" :id="role+2" value="Done" v-model="mode"/>
                <label :for="role+2" style="padding-left:21px">Done</label>
              </span>
            <span>
                <input :name="role" type="radio" :id="role+3" value="Todo" v-model="mode"/>
                <label :for="role+3" style="padding-left:21px">Todo</label>
              </span>
          </th>

      </tr>

      </thead>
    </table>

    <div class="todo-list-high">
      <table class="todo-list-head" style="table-layout:fixed;width: 100%;">
        <tbody>
        <tr>
          <th style="width: 141px"></th>
          <th v-for="(key,index) in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key ,date:key=='due_date'}">
            {{ colname[index] | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>

        <tr v-for="(entry,index) in filteredData" v-if=showOrNot(entry) :class="completeDenotraction(entry.complete,entry.recent_modifier)">

          <td style="width: 141px">
            <div class="col m4">
              <input type="checkbox" v-bind:id="entry.id" v-bind:checked="isComplete(entry)" @change="checkinNout(entry)"/>
              <!--<label v-bind:for=entry.id>{{entry.complete | notificate}}</label>-->
              <label v-bind:for=entry.id></label>
            </div>

            <div class="col m6">
              {{entry.role}}
            </div>
            <!--<div class="col m6">-->
              <!--<div class="destroy">-->
                <!--<a @click="remove(role,entry)"><i class="material-icons">clear</i></a>-->
              <!--</div>-->
            <!--</div>-->
          </td>

          <td v-for="key in columns" :class="{date:key=='due_date'}">
            <div :class="checkFocus(index,key)">
              <div class="view" @dblclick="editTodo(index,key)">
                {{entry[key]}}
                <a v-if="key=='content'" class="remove" @click="remove(role,entry)"><i class="material-icons">clear</i></a>
              </div>
              <input class="edit" style="height: 1rem;margin-bottom: 0px;font-size: 1.3em;text-align: center;" type="text"
                     v-model="entry[key]"
                     v-focus="checkFocus(index,key)"
                     @blur="doneEdit(index,key)"
                     @keyup.enter="doneEdit(index,key)"
                     @keyup.esc="cancelEdit(index,key)"
              >
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import StudentService from '../services/StudentService'

  export default{
      props: {
        data: Array,
        columns: Array,
        colname: Array,
        filterKey: String,
        role:String,
        modal:String,
        title:String,
      },
      data: function () {
        var sortOrders = {}

        this.columns.forEach(function (key) {
          sortOrders[key] = 1
        })
        return {
          sortKey: '',
          sortOrders: sortOrders,
          mode:'Todo+Done',
          editedTodo: null,
          cellid:'',
          // role:''
        }
      },
      computed: {
        filteredData: function () {
          var sortKey = this.sortKey
          var filterKey = this.filterKey && this.filterKey.toLowerCase()
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (filterKey) {
            data = data.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
              })
            })
          }
          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
            })
          }
          return data
        },
      },
      filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        },
        notificate: function(str) {
//          console.log(str,typeof(str));
          return str != true ? 'Todo' : 'Done';
        }
      },
      methods: {
        sortBy: function (key) {
          this.sortKey = key
          this.sortOrders[key] = this.sortOrders[key] * -1
          // console.log(this.sortOrders);
        },
        checkinNout:function(data){
          // this.data[index].active = this.data[index].active == true ? false : true;
          let setVal = data.complete ? false : true;
          StudentService.updateTodo(data.id,'complete',setVal,
            function (res) {
              if (res.status === 200) {
                data.complete = setVal;
              }
              console.log(res);
          },function (err) {
              console.log('err',err);
          });
        },
        isComplete:function(todo){
          return todo.complete == true;
        },
        checkFocus:function(index,key) {
          return index+key+'' != this.cellid ? "editable_cell" : "editable_cell_editing";
        },
        showOrNot:function(cell) {
          return (this.mode==='Todo+Done') || (this.mode=='Todo' && !cell.complete) || (this.mode=='Done' && cell.complete);
        },
        remove:function(role,todo) {
          this.$emit('setRemoveTodo',{todo:todo});
          console.log(this.modal);
          $('#'+this.modal).modal('open');
//          console.log(removeFlag);
        },
        editTodo:function(index,key) {
          this.cellid = index+key+'';
          this.beforeEditCache = this.filteredData[index][key];
          this.editedTodo = this.filteredData[index];
          // console.log(this.beforeEditCache);
        },
        doneEdit: function (index,key) {
          if (!this.editedTodo) {
            return
          }
          this.editedTodo = null;
          this.cellid = null;
          this.filteredData[index][key] = this.filteredData[index][key].trim()
          // todo.title = todo.title.trim()
          if (!this.filteredData[index][key] || this.filteredData[index][key].length == 0) {
            this.remove(this.filteredData[index])
          } else {
            var that = this;
            StudentService.updateTodo(this.filteredData[index].id, key, this.filteredData[index][key],
              function (res) {
                if (res.status != 200) {
                    that.filteredData[index][key] = this.beforeEditCache;
                } else {
                    console.log('success');
                }
              }, function (err) {
                that.filteredData[index][key] = this.beforeEditCache;
                console.log('err', err);
              }
            );
          }
        },
        cancelEdit: function (index,key) {
          this.editedTodo = null;
          this.cellid = null;
          this.filteredData[index][key] = this.beforeEditCache;
        },
        completeDenotraction:function(compelte,recent) {
          return compelte === false ? ''+recent : 'completed '+recent;
        },

      },
      directives: {
        focus: function (el, binding) {
          // console.log(el);
          if (binding.value) {
            el.focus()
          }
        }
      }
  }
</script>


<style>
  .todo-list-head th {
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 5px;
  }

  .todo-list-head td {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  .todo-list-input {
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    height: 1rem;
    margin-bottom: 0px;
    font-size: 1.3em;
    text-align: center;
  }

  .todo-list-head .view {
    text-align: center;
    font-size: 1.3em;
  }

  .completed {
    text-decoration: line-through;
    color:darkgrey;
  }
  .view {
    position: relative;
  }
  .remove{
    position: absolute;
    right:0px;
    color: transparent;
  }

  .remove:hover {
    color: #9e9e9e;
  }

  .completed div {
    text-decoration: line-through;
    color:darkgrey;
  }

  .PMC {
    background-color: rgba(219,255,212,0.5);
  }

  .ADMIN {
    background-color: rgba(255,247,212,0.5);
  }

  .DOE {
    background-color: rgba(212,240,255,0.5);
  }

</style>
