<template>
  <div class="mheader">
    <div class="row">
      <div class="col m6"><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons white-text">menu</i></a></div>
      <div class="col m5 white-text"><h5 class="white-text">MeiguoEdu</h5></div>
      <div id="logout" class="col m1"><a @click="logout()" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="logout system" ><i class="material-icons white-text">exit_to_app</i></a></div>
    </div>
    <snackBar
    ></snackBar>
    <!--<div id="snackbar" class="snackbar">Some text some message..</div>-->
  </div>
</template>

<script>
  import StudentService from '../services/StudentService'
  import snackBar from './snackBar.vue'

  export default {
    components:{
      snackBar
    },
    methods:{
      logout:function() {
        StudentService.logout(
            function (res) {
            console.log(res);
            if (res.status === 200) {
              console.log(window.location);
              sessionStorage.clear();
              window.location.replace(window.location.origin);
            }
          },
          function (err) {
            console.log(err);
          }
        );
      },
    }
  }
</script>
