<template>
  <div class="padding-up">
    <a @click="gotoListPage()" class="waves-effect waves-light btn" style="margin-bottom: 10px">GO BACK</a>

    <div class="padding-up col s12"><div class="col s12">
      <ul class="tabs" style="border-radius:0.5em;">
        <li class="tab"><a href="#stu_student_tab" class="active medium-text" >Summary</a></li>
        <li class="tab"><a href="#stu_team" class="medium-text">Team</a></li>
        <li class="tab"><a href="#stu_background_info_tab" class="medium-text">Background Info</a></li>
        <li class="tab"><a href="#stu_personal_interests_tab" class="medium-text">Personal Interests</a></li>
        <li class="tab"><a href="#stu_skills_badges_tab" class="medium-text">Skills Badges</a></li>
        <li class="tab"><a href="#stu_extracurricalr_log" class="medium-text">Extracurricalr Log</a></li>
        <li class="tab"><a href="#stu_todo_list" class="medium-text">Todo List Log</a></li>
      </ul>
    </div></div>

    <div id="stu_student_tab" class="col s12 greyback margin-top-small tab_content">
      <div class="row detail_top">
        <!-- left pannel -->
        <div class="col s6">
          <div class="row">
            <!-- stu photo -->
            <div class="col s6 info-cell-short card-stacked info-cell" style="padding-left:0px;margin-bottom: 10px;">
              <!--<a ><div class="info-cell" v-bind:style="{'background':'url(/v1/portrait/'+this.detail.stud.id+') no-repeat center','background-size':'cover','height':'100%'}"></div></a>-->
              <a @click="uploadPortrait">
                <!--<div class="info-cell" v-bind:style="portrait"></div>-->
                <img style="height: 200px;width: 200px;margin: 0 auto" v-bind:src="portraitUrl">
              </a>
            </div>

            <div class="col s6 info-cell-short" style="padding-right:0px;margin-bottom: 10px;">
              <table class=" card-stacked info-cell responsive-table info-text info-cell-short">
                <tbody class="info-cell-short">
                <tr><th>Name:</th><td>{{detail.stud.bio.summary_name}}</td></tr>
                <tr><th>Native Name:</th><td>{{detail.stud.bio.summary_native_name}}</td></tr>
                <tr><th>Birthday:</th><td>{{detail.stud.bio.summary_birthday}}</td></tr>
                <tr><th>Counselor:</th><td>{{detail.relation.pmc==null ? 'Not Designated': detail.relation.pmc.name}}</td></tr>
                <tr><th>DOE:</th><td>{{detail.relation.doe==null ? 'Not Designated': detail.relation.doe.name}}</td></tr>
                <tr><th>Family Translator:</th><td>{{detail.relation.ft==null ? 'Not Designated': detail.relation.ft.name}}</td></tr>
                </tbody>
              </table>
              <!-- </div> -->
            </div>

            <!-- stu address/email/contact -->
            <div class="card-stacked col s12 info-cell ">
              <table class="responsive-table info-text alltextright">
                <tr><th>Current Living Adderss:</th><td>{{detail.stud.bio.summary_street}},{{detail.stud.bio.summary_city}},{{detail.stud.bio.summary_state}},{{detail.stud.bio.summary_zipcode}}</td></tr>
                <tr><th>Adderss out of United States:</th><td>{{detail.stud.bio.summary_out_street}},{{detail.stud.bio.summary_out_city}},{{detail.stud.bio.summary_out_district}},{{detail.stud.bio.summary_out_zipcode}}</td></tr>
              </table>
              <table class="responsive-table info-text alltextright">
                <tr><th>Email:</th><td>{{detail.stud.bio.summary_email}}</td><th>Phone:</th><td>{{detail.stud.bio.summary_phone}}</td></tr>
                <tr><th>Wechat:</th><td>{{detail.stud.bio.summary_wechat}}</td><th>Skype:</th><td>{{detail.stud.bio.summary_skype}}</td></tr>
                <tr><th>Religion:</th><td>{{detail.stud.bio.summary_religion}}</td><th>Primary Language:</th><td>{{detail.stud.bio.summary_primary_language}}</td></tr>
              </table>
            </div>

            <!-- seperate survey -->
            <div class="card-stacked col s12 info-cell info-text">
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header"><i class="material-icons">contacts</i>Grade Portal Access</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s3">
                        <input id="GPA_website" placeholder="Url" type="text" v-model="detail.stud.gpa.GPA_website">
                        <label class="active" for="GPA_website">website</label>
                      </div>

                      <div class="input-field col s3">
                        <input id="GPA_username" placeholder="Username" type="text" v-model="detail.stud.gpa.GPA_username">
                        <label class="active" for="GPA_username">Username</label>
                      </div>

                      <div class="input-field col s4">
                        <input id="GPA_password" placeholder="Password" type="text" v-model="detail.stud.gpa.GPA_password">
                        <label class="active" for="GPA_password">Password</label>
                      </div>
                      <div class="col s2">
                        <a v-on:click="updateStudInfo('gpa')" class="btn-floating btn-large waves-effect waves-light red">
                          <i class="material-icons">add</i>
                        </a>
                      </div>
                    </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">question_answer</i>Weekly Meeting Time Availability</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s3">
                        <input id="WMTA_day" placeholder="Day" type="text" v-model="detail.stud.wma.WMA_day">
                        <label class="active" for="WMTA_day">Day</label>
                      </div>

                      <div class="input-field col s3">
                        <input id="WMTA_time" placeholder="Time" type="text" v-model="detail.stud.wma.WMA_time">
                        <label class="active" for="WMTA_time">Time</label>
                      </div>

                      <div class="input-field col s4">
                        <input id="WMTA_location" placeholder="Location" type="text" v-model="detail.stud.wma.WMA_location">
                        <label class="active" for="WMTA_location">Location</label>
                      </div>

                      <div class="col s2">
                        <!-- <a href="#" onclick="set('WMTA')" class="waves-effect waves-light btn">Set</a> -->
                        <a v-on:click="updateStudInfo('wma')" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

                      </div>
                    </div>

                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">receipt</i>Holland Career Code</div>
                  <div class="collapsible-body">
                    <form action="https://www.onetonline.org/explore/interests-go" method="GET">
                      <div class="row">

                        <div class="input-field col s2">
                          <input id="HCC_1" placeholder="Code 1" type="text" name="i1" v-model="detail.stud.vom.VoM_code1">
                          <label class="active" for="HCC_1">Code</label>
                        </div>
                        <div class="input-field col s2">
                          <input id="HCC_2" placeholder="Code 2" type="text" name="i2" v-model="detail.stud.vom.VoM_code2">
                          <label class="active" for="HCC_2">Code</label>
                        </div>
                        <div class="input-field col s2">
                          <input id="HCC_3" placeholder="Code 3" type="text" name='i3' v-model="detail.stud.vom.VoM_code3">
                          <label class="active" for="HCC_3">Code</label>
                        </div>

                        <div class="input-field col s4">
                          <!--<input id="VoM_password" type="text" v-model="detail.stud.vom.VoM_password">-->
                          <!--<label class="active" for="VoM_password">Password</label>-->
                          <!--<a href="" class="waves-effect waves-light btn">Ckeck it!</a>-->
                          <button type="submit" class="waves-effect waves-light btn">To O*Net</button>
                        </div>

                        <div class="col s2">
                          <!-- <a href="#" onclick="set('VoM')" class="waves-effect waves-light btn">Set</a> -->
                          <!-- <a href="#" onclick="set('VoM')" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> -->
                          <a v-on:click="updateStudInfo('vom')"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">android</i>Wyzant Account</div>
                  <div class="collapsible-body">

                    <div class="row">
                      <div class="input-field col s5">
                        <input id="WyZ_username" placeholder="Username" type="text" v-model="detail.stud.wyz.WyZ_username">
                        <label class="active" for="WyZ_username">Username</label>
                      </div>

                      <div class="input-field col s5">
                        <input id="WyZ_password" placeholder="Password" type="text" v-model="detail.stud.wyz.WyZ_password">
                        <label class="active" for="WyZ_password">Password</label>
                      </div>

                      <div class="col s2">
                        <!-- <a href="#" onclick="set('WyZ')" class="waves-effect waves-light btn">Set</a> -->
                        <a v-on:click="updateStudInfo('wyz')"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </div>

            <!--badge information-->
            <div class="card-stacked col s12 info-cell">
              <h5 >Badge Status</h5>
              <BadgeStatistic
                :gains="this.detail.stud.badges"
                :totalNum="badgenum"
              ></BadgeStatistic>
            </div>
          </div>
        </div>

        <!-- right panel -->
        <div class="col s6">
          <div class="row">

            <div class="card-stacked col s12 info-cell">
              <h5>Weekly Report</h5>
            </div>

            <div class="card-stacked col s12 info-cell">
              <!--<a @click="chageHours()"> change hours</a>-->
              <ActivityTracker
                :hour_chart_id=hourChartId
                :tier_chart_id=tierChartId
                :happi_chart_id=happiChartId
                :hours=actHour
                :happis=actHappi
                :tiers=actTier
                :tier_label=tier_label
                :label=extracurricalr_dropdown.type_rows
                :legendColor=legendColor
                :len=activitylen
              ></ActivityTracker>
            </div>

            <!--<div class="card-stacked col s12 info-cell">-->
              <!--<h5 >Happy Meter</h5>-->
              <!--&lt;!&ndash;<div id="happimeter" class="col s12"></div>&ndash;&gt;-->
              <!--&lt;!&ndash;<a @click="chageHappis()">change happi</a>&ndash;&gt;-->
              <!--<HappyMeter-->
                <!--:id=polarchart-->
                <!--:happi=actHappi-->
                <!--:label=extracurricalr_dropdown.type_rows-->
                <!--:len=activitylen-->
              <!--&gt;</HappyMeter>-->
            <!--</div>-->


          </div>
        </div>
      </div>
    </div>

    <div id="stu_team" class="col s12 greyback margin-top-small tab_content">
      <div class="row detail_top">
          <div class="col s12 m2">
            <div class="teamCell card-stacked info">
              <div v-if="detail.relation.pmc!=null" class="stu_photo"></div>
              <div v-else class="noinfo,teamCell,card-stacked,black-text">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="teamCell card-stacked">
              <div v-if="detail.relation.pmc!=null" class="info">
                <table class="info-text-short">
                  <tr><th>Name:</th><td>{{detail.relation.pmc.name}}</td></tr>
                  <tr><th>Email:</th><td>{{detail.relation.pmc.email}}</td></tr>
                  <tr><th>Phone:</th><td>{{detail.relation.pmc.phone}}</td></tr>
                  <tr><th>Role:</th><td>PMC</td></tr>
                </table>
                <a @click="unbind(detail.relation.pmc.email,'pmc')" class="waves-effect waves-light btn">UNBIND</a>
              </div>
              <div v-else class="noinfo,teamCell,card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m7">
            <div class="teamCell card-stacked">
              <table class="responsive-table striped info-text info"v-if="detail.relation.pmc!=null">
                <tr><th>Created Week</th><th>Content</th><th>Due Date</th></tr>
                <tr v-for="t in detail.todo">
                  <td>{{t.create_date}}</td><td>{{t.content}}</td><td>{{t.due_date}}</td>
                </tr>
              </table>
              <div v-else class="noinfo">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>

          <div class="col s12 m2">
            <div  class="teamCell card-stacked">
              <div v-if="detail.relation.doe!=null" class="stu_photo info"></div>
              <div v-else class="noinfo">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="teamCell card-stacked">
              <div v-if="detail.relation.doe!=null" class="info">
                <table class="info-text-short">
                  <tr><th>Name:</th><td>{{detail.relation.doe.name}}</td></tr>
                  <tr><th>Email:</th><td>{{detail.relation.doe.email}}</td></tr>
                  <tr><th>Phone:</th><td>{{detail.relation.doe.phone}}</td></tr>
                  <tr><th>Role:</th><td>DOE</td></tr>
                </table>
                <a @click="unbind(detail.relation.doe.email,'doe')" class="waves-effect waves-light btn">UNBIND</a>
              </div>
              <div v-else class="noinfo,teamCell,card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m7">
            <div class="teamCell card-stacked">company info</div>
          </div>

          <div class="col s12 m2">
            <div  class="teamCell card-stacked">
              <div v-if="detail.relation.ft!=null" class="teamCell card-stacked info">FT Picture</div>
              <div v-else class="noinfo,teamCell,card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="teamCell card-stacked">
              <div v-if="detail.relation.ft!=null" class="info">
                <table class="info-text-short">
                  <tr><th>Name:</th><td>{{detail.relation.ft.name}}</td></tr>
                  <tr><th>Email:</th><td>{{detail.relation.ft.email}}</td></tr>
                  <tr><th>Phone:</th><td>{{detail.relation.ft.phone}}</td></tr>
                  <tr><th>Role:</th><td>FT</td></tr>
                </table>
                <a @click="unbind(detail.relation.ft.email,'ft')" class="waves-effect waves-light btn">UNBIND</a>
              </div>
              <div v-else class="noinfo,teamCell,card-stacked">If you see this, it means you don't have assigned PMC or DOE, Please contact Admin</div>
            </div>
          </div>
          <div class="col s12 m7">
          <div class="teamCell card-stacked">
            <table>
              <tr>
                <td>
                  <div class="input-field">
                    <input id="bindsc" type="text" v-model="bindemail">
                    <label class="active" for="bindsc">Bind Counselor and Student</label>
                  </div>
                </td>
                <td>
                  <button class="btn" @click="bind(detail.stud.id,bindemail,'pmc')">Bind!</button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-field">
                    <input id="bindsd" type="text" v-model="bindemail">
                    <label class="active" for="bindsd">Bind DOE and Student</label>
                  </div>
                </td>
                <td><button class="btn" @click="bind(detail.stud.id,bindemail,'doe')">Bind!</button>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="input-field">
                    <input id="bindsf" type="text" v-model="bindemail">
                    <label class="active" for="bindsf">Bind Family translater and Student</label>
                  </div>
                </td>
                <td><button class="btn" @click="bind(detail.stud.id,bindemail,'ft')">Bind!</button></td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div id="stu_background_info_tab" class="col s12 greyback margin-top-small tab_content">
      <div class="row detail_top black-text">
        <BackgroundInfoTable
          :BackgroundInfo="detail.stud.bio"
        ></BackgroundInfoTable>
      </div>
    </div>

    <div id="stu_personal_interests_tab" class="col s12 greyback margin-top-small tab_content">
      <div class="row detail_top black-text">
        <PersonalInterestPannel
          :BackgroundInfo="detail.stud.bio"
        ></PersonalInterestPannel>
      </div>
    </div>

    <div id="stu_skills_badges_tab" class="col s12 greyback margin-top-small tab_content">
      <div class="row detail_top">
        <div class="col s12 m12">
          <Badges
            :badgemodal="badgemodal"
            :badges="detail.stud.badges"
          ></Badges>

        </div>
      </div>
    </div>

    <div id="stu_extracurricalr_log" class="col s12 info-text greyback margin-top-small tab_content">
      <div class="detail_top" />
        <!-- <div class="col s12"> -->
        <!--<h5 class="col s12">Student Activities Records</h5>-->

        <div class="col m12 info-cell">
          <div class="col s12 white-back">
            <div class="input-field col m3 s3">
            <input id="extra_search" type="text" name="query" v-model="extracurricalr_searchQuery">
            <label class="active" for="extra_search">Search</label>
          </div>
            <div id="extracurricalr_contorller" class="col s9 m9 center">
              <div class="input-field col m1">
                <!--<div @click="showExtracurricalerDate()">Date: {{activityToInsert.activity_date}}</div>-->
                <input type="text" placeholder="Date" v-model="activityToInsert.activity_date" @click="showExtracurricalerDate()">
                <date-picker
                  @close="extracurricalr_showdate = false"
                  :format="formatDate"
                  v-on:input="updateExtracurrilarDate"
                  v-on:close="checkLock"
                  v-show="extracurricalr_showdate"
                  v-model="activityToInsert.activity_date">
                </date-picker>
              </div>
              <div class="input-field col m2">
                <input id="name" type="text" class='dropdown-button' autocomplete="off" data-activates='dropdown1'@click="NameDropDownActivate()" v-model="activityToInsert.activity_name">
                <label for="name" >Activity Name</label>
                <ul id='dropdown1' class='dropdown-content'>
                  <li v-for="n in uniqueName"><a @click="setActName(n)">{{n}}</a></li>
                </ul>
              </div>
              <div class="input-field col m1">
                <input id="position" type="text" v-model="activityToInsert.activity_position">
                <label for="position" >Position</label>
              </div>
              <div class="input-field col m1">
                <input id="hours" type="text" v-model="activityToInsert.activity_hours">
                <label for="hours" >Totoal Hours</label>
              </div>
              <div class="input-field col m3">
                <input id="extra_content" type="text" v-model="activityToInsert.activity_content">
                <label for="extra_content" >Content</label>
              </div>

              <div class="input-field col m1">
                <DropDown
                  v-on:select="updateType"
                  :id="extracurricalr_dropdown.type_id"
                  :rows="extracurricalr_dropdown.type_rows"
                  :defaultSelected="extracurricalr_dropdown.type_default"
                ></DropDown>
              </div>

              <div class="input-field col m1">
                <DropDown
                  v-on:select="updateHappi"
                  :id="extracurricalr_dropdown.happi_id"
                  :rows="extracurricalr_dropdown.happi_rows"
                  :defaultSelected="extracurricalr_dropdown.happi_default"
                ></DropDown>
              </div>
              <div class="input-field col m1">
                <DropDown
                  v-on:select="updateTier"
                  :id="extracurricalr_dropdown.tier_id"
                  :rows="extracurricalr_dropdown.tier_rows"
                  :defaultSelected="extracurricalr_dropdown.tier_default"
                ></DropDown>
              </div>
              <div class="input-field col m1">
                <a @click="insertActivity()" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>

            </div>
          </div>
          <div class="col s12 white-back">
            <Extracurricalr
              :data="detail.activity"
              :columns="extracurricalrColumns"
              :names="extracurricalrNames"
              :filter-key="extracurricalr_searchQuery"
              :role="extra"
            ></Extracurricalr>
            </div>
        </div>
        <!-- </div> -->
      <!--</div>-->
    </div>

    <div id="stu_todo_list" class="col s12 greyback tab_content">
      <div class="row detail_top black-text">
        <div id="logcontorller" class="col s12 center">

          <div class="input-field col m1">
              <input id="todo_search" type="text" name="query" v-model="TodosearchQuery">
              <label class="active" for="todo_search">Search</label>
          </div>

          <div class="input-field col m1">
            <input v-bind:id="todoInsert.date" type="text" placeholder="Due Date" v-model="todoInsert.duedate" @click="showTodoDueDate()">
            <date-picker
              @close="todoInsert.duedateshow = false"
              :format="formatDate"
              v-on:input="updateTodoDate"
              v-show="todoInsert.duedateshow"
              v-model="todoInsert.duedate">
            </date-picker>
          </div>

          <div class="input-field col m4">
            <input id="todo_content" type="text" v-model="todoInsert.todo_content">
            <label for="todo_content" class="">Content</label>
          </div>

          <div class="input-field col m1">
            <DropDown
              v-on:select="updateTodoRole"
              :id="todoInsert.role_id"
              :rows="todoInsert.roles"
              :defaultSelected="todoInsert.default"
            ></DropDown>
          </div>

          <div class="input-field col m1">
            <a @click="addTodo()"  class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>

          <div class="input-field col m4">
            <span>Recent Modifier:</span>
            <div class="chip DOE input-field">DOE</div>
            <div class="chip PMC input-field">PMC</div>
            <div class="chip ADMIN input-field">ADMIN</div>
          </div>



        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col m12 card-stacked info-cell">
              <TodoList
                v-on:setRemoveTodo="setRemoveTodo"
                :data="filerTodoStud"
                :columns="todoColumns"
                :colname="todoColName"
                :filter-key="TodosearchQuery"
                :role='stu'
                :modal='modal'
                :title='todoStudent'
              >
              </TodoList>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="row">
            <div class="col m12 card-stacked info-cell">
              <TodoList
                v-on:setRemoveTodo="setRemoveTodo"
                :data="filerTodoStaff"
                :columns="todoColumns"
                :colname="todoColName"
                :filter-key="TodosearchQuery"
                :role='pmc'
                :modal='modal'
                :title='todoStaff'
              ></TodoList>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import Extracurricalr from './ExtracurricalrLog.vue'
  import TodoList from './TodoList.vue'
  import ActivityTracker from './ActivityTracker.vue'
  import {EventBus} from '../eventhub'
  import HappyMeter from './HappyMeter.vue'
  import Badges from './BadgesTable.vue'
  import StudentService from '../services/StudentService'
  import DropDown from './DropDown.vue'
  import BackgroundInfoTable from './BackgroundInfoTable.vue'
  import PersonalInterestPannel from './PersonalInterestPannel.vue'
  import DatePicker from './datePicker.vue'
  import BadgeStatistic from './BadgeStatistic.vue'

  export default {
    components: {
      Extracurricalr,
      TodoList,
      ActivityTracker,
      HappyMeter,
      Badges,
      DropDown,
      BackgroundInfoTable,
      PersonalInterestPannel,
      DatePicker,
      BadgeStatistic
    },
    props:{
      modal:String,
      badgemodal:String,
      badgenum:Number,
      lock:Boolean
    },
    data:function () {
      return {
        hourChartId:'hourChart',
        tierChartId:'tierChart',
        happiChartId:'happiChart',
        polarchart:'happitest',
        legendColor:[
          "#ef5350",
          "#ff8a80",
          "#ec407a",
          "#ff80ab",
          "#ab47bc",
          "#ea80fc",
          "#7e57c2",
          "#311b92",
          "#5c6bc0",
          "#8c9eff",
          "#42a5f5",
          "#82b1ff",
          "#29b6f6",
          "#80d8ff",
          "#26c6da",
          "#84ffff",
          "#26a69a",
          "#a7ffeb",
          "#66bb6a",
          "#388e3c",
          "#9ccc65",
          "#ccff90",
          "#d4e157",
          "#f4ff81",
          "#ffee58",
          "#ffca28",
          "#ffa726",
          "#ff7043",
          "#8d6e63",
          "#bdbdbd",
          "#78909c",
        ],
        stu:"stu",
        pmc:"pmc",
        extra:"extracurricalr",

        removeFlag:{},
        bindemail:'',
        content:'',
        activityToInsert:{
          activity_type:'',
          activity_name:'',
          activity_position:'',
          activity_hours:'',
          activity_happi:'',
          activity_content:'',
          activity_tier:'',
          activity_date:''
        },
        todoInsert:{
          todo_content:'',
          role:'STUD',
          role_id:'myroles',
          roles:['STUD','PMC','DOE','FT'],
          date:'duedate',
          default:'Role',
          duedateshow:false,
          duedate:''
        },
        TodosearchQuery: '',
        todoList:[
          {
            "_id" : "29b62960f159918a5d0d98dedcbc3533",
            "week" : "2017-W23",
            "content" : "cscscc",
            "dueDate" : "2017-05-30",
            "r_id" : "4a8a08f09d37b73795649038408b5f33",
            "active" : true
          }
        ],
        options: [
          { text: 'Todo+Done', value: '1' },
          { text: 'Todo', value: '2' },
          { text: 'Done', value: '3' }
        ],
        extracurricalrColumns:['meet_date','name','position','hours','describe','type','happi','tier'],
        extracurricalrNames:['Date',"Activity Name",'Position','Total Hours','Describe tasks/Project/Award','Activity Type','Happiness Rating','Tier'],
        extracurricalr_searchQuery:'',
        extracurricalr_dropdown:{
          tier_id:'mytier',
          tier_rows:['1','2','3','4'],
          tier_default:'Tier',
          happi_id:'myhappi',
          happi_rows:[1,2,3,4,5],
          happi_default:'Happy',
          type_id:'mytype',
//          type_rows:['SKILL','WORK','SPORT','VOLUNTEER','OTHER'],
          type_rows:["Academic","Art","Athletics: Club","Athletics: JV/Varsity","Career Oriented","Community Service (Volunteer)","Computer/Technology","Cultural","Dance","Debate/Speech","Environmental","Family Responsibilities","Foreign Exchange","Foreign Language","Internship","Journalism/Publication","Junior R.O.T.C.","LGBT","Music: Instrumental","Music: Vocal","Religious","Research","Robotics","School Spirit","Science/Math","Social Justice","Student Govt./Politics","Theater/Drama","Work (Paid)","OtherClub/Activity"],
//          type_rows:["Academic","Art","Athletics: Club","Athletics: JV/Varsity","Career Oriented"],
          type_default:'Type'
        },
        extracurricalr_showdate:false,
        todoColumns: ['due_date','content'],
        todoColName:['Due','Content'],
        todoStudent:'Studnet Todo Log',
        todoStaff:'Team Todo Log',
        activitylabel:['Skill','Work','Sports','Other Coursework','Volunteer'],
        tier:[0,0,0,0],

        tier_label:['Tier 1','Tier 2','Tier 3','Tier 4'],
        detail: {
          stud: {
            "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
            "create_date": "2017-07-27T07:00:00.000Z",
            "bio": {
              "city": "Los Angeles",
              "email": "desire@meiguola.com",
              "phone": "21342145435",
              "skype": "desiredesire",
              "gender": "Female",
              "street": "830 Traction Ave",
              "wechat": "desireesayarath",
              "country": "USA",
              "zipcode": "90013",
              "birthday": "1/1/1993",
              "district": "CA",
              "religion": "none",
              "home_city": "Los Angeles",
              "given_name": "Sayarath",
              "home_state": "CA",
              "family_name": "desire",
              "home_street": "830 Traction Ave",
              "chinese_name": "茉莉",
              "english_name": "desire",
              "home_country": "USA",
              "home_zipcode": "90013",
              "preferred_name": "desire",
              "primary_language": "english",
              "family_bio_siblings": "No",
              "school_chinese_name": "desire",
              "school_english_name": "wjm",
              "extracurricular_work": "wjm",
              "school_chinese_pinyin": "desire",
              "extracurricular_volunteer": "desire",
              "extracurricular_education_reason": "Get a job"
            },
            "contact": {
              "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "name": "harrison wang",
              "email": "meiguo@edu.com",
              "phone": "2132145434",
              "wechat": "meiguola"
            },
            "hours": [
              0,
              0,
              1,
              8,
              0
            ],
            "happi": [
              2,
              3,
              1,
              0,
              0
            ],
            "badges": [
              "b1",
              "c4"
            ],
            "gpa": {
              "GPA_website": "whwh",
              "GPA_password": "hjkh",
              "GPA_username": "hdgfjh"
            },
            "wma": {
              "WMA_day": "",
              "WMA_time": "",
              "WMA_location": ""
            },
            "wyz": {
              "WyZ_password": "",
              "WyZ_username": ""
            },
            "vom": {
              "VoM_code1": "",
              "VoM_code2": "",
              "VoM_code3": ""
            }
          },
          relation: {
            "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
            "doe": {

            },
            "pmc": {

            },
            "ft": {

            },
            "stud": {
            }
          },
          activity: [
            {
              "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "create_date": "2017-07-01T07:00:00.000Z",
              "type": "skill",
              "hours": 2,
              "happi": 5,
              "detail": {
                "name": "dsf",
                "describe": "fdgfdsg",
                "position": "afds"
              },
              "relation_id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be"
            },
          ],
          todo: [
            {
              "id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "create_date": "2017-07-11T07:00:00.000Z",
              "due_date": "2017-07-11T07:00:00.000Z",
              "complete": true,
              "relation_id": "ffaff937-53e0-bfb5-0b56-aa0d83d9b1be",
              "role": "student",
              "content": "dsfsdfdsfdsf"
            },
          ]
        },
        portraitUrl:"",
      };
    },
    computed:{
        actHour:function () {
          /**
           * according to this.extracurricalr_dropdown.type_rows, sum number in total of different types of activity
           */


          var calhours = new Array(this.extracurricalr_dropdown.type_rows.length)
          calhours.fill(0)

          let index = -1;
          let type = this.extracurricalr_dropdown.type_rows
          this.detail.activity.forEach(act => {
//            console.log('find me ',act);
            index = type.indexOf(act.type)
            if (index >= 0) {
              calhours[index] += parseInt(act.hours)
            }
          });

//          console.log('actHour',calhours)
          return calhours
//          return [1,2,3,4]
        },
        actHappi:function () {
          var calhappi = new Array(this.extracurricalr_dropdown.type_rows.length)
          calhappi.fill(0)

            let index = -1;
            let type = this.extracurricalr_dropdown.type_rows
            this.detail.activity.forEach(act => {
              index = type.indexOf(act.type)
//              console.log(index,act.type)
              if (index >= 0) {
                calhappi[index] += parseInt(act.happi)
              }
            });

//          console.log('actHappi',calhappi)
          return calhappi
//          return [1,2,3,4,5]
        },
        actTier:function () {
          var valtier = [0,0,0,0];
          this.detail.activity.forEach(act => {
//            console.log(act);
            switch (act.tier) {
              case '1':
                valtier[0] += 1;
                break;
              case '2':
                valtier[1] += 1;
                break;
              case '3':
                valtier[2] += 1;
                break;
              case '4':
                valtier[3] += 1;
                break;
            }
          });
//          console.log('recalculate tier',valtier);
          return valtier;
//          return [1,2,3,4,5]
        },
        activitylen:function () {
          return this.detail.activity.length;
        },
        portrait:function () {
          return {
            'background': (this.portraitUrl | "url(/v1/portrait/"+this.detail.stud.id+")")+"no-repeat center",
            'background-size':"cover",
            'height':"100%"
          }
        },
        filerTodoStud:function () {
          return this.detail.todo.STUD
        },
        filerTodoStaff:function () {
          return this.detail.todo.STAFF
        },
        uniqueName: function () {
          var nameSet = new Set()
          let arr = this.detail.activity
          for (let i in arr) {
            if (arr[i].detail && arr[i].detail.name && !nameSet.has(arr[i].detail.name)) {
              nameSet.add(arr[i].detail.name)
            }
          }
          return Array.from(nameSet)
        }
    },
    methods: {
      gotoListPage: function () {
        $('.carousel').carousel('prev');
      },
      addTodo: function () {
        var tododata = this.getTodoData();
//        console.log(data);
        var that = this;

        StudentService.logTodo(tododata,
          function (res) {
            console.log('add todo:', res);
            tododata.id = res.body.message;
            if (tododata.role === 'STUD') {
              if (!that.detail.todo['STUD']) {
                that.$set(that.detail.todo,'STUD',[]);
              }
              that.detail.todo['STUD'].push(tododata);
            } else {
              if (!that.detail.todo['STAFF']) {
                that.$set(that.detail.todo,'STAFF',[]);
              }
              that.detail.todo['STAFF'].push(tododata);
            }

            EventBus.$emit('snackbar','SUCCESS');
          }, function (err) {
            console.log('err in add todo', err);
            EventBus.$emit('snackbar','FAILURE');
          });
      },
      insertActivity: function () {
        let data = {
          "meet_date": this.activityToInsert.activity_date,
          'type': this.activityToInsert.activity_type,
          'tier': this.activityToInsert.activity_tier,
          'hours': parseInt(this.activityToInsert.activity_hours),
          'happi': parseInt(this.activityToInsert.activity_happi),
          'detail': {
            'name': this.activityToInsert.activity_name,
            'describe': this.activityToInsert.activity_content,
            'position': this.activityToInsert.activity_position
          },
          'relation_id': this.detail.stud.id,
          'tier': this.activityToInsert.activity_tier
        };
        var that = this;
        StudentService.logActivity(data, function (res) {
          console.log(res);
          that.activityHandler(res, data);
          EventBus.$emit('snackbar','SUCCESS');
        }, function (err) {
          console.log('err in post activity');
          EventBus.$emit('snackbar','FAILURE');
        })

//        $('#happi').val('');
////        $('#happi').material_select('destroy');
//        $('#happi').material_select();
      },
      removeItem: function () {
        console.log('you want to remove todo', this.removeFlag);
        if (!this.removeFlag || !this.removeFlag.todo) {
          console.log('something wrong with removeFlag', this.removeFlag);
          return;
        }
        var that = this;
        StudentService.deleteTodo(this.removeFlag.todo.id, function (res) {
          console.log(res);
          if (that.removeFlag.todo.role === 'STUD') {
            that.detail.todo['STUD'].splice(that.detail.todo['STUD'].indexOf(that.removeFlag.todo),1);
          } else {
            that.detail.todo['STAFF'].splice(that.detail.todo['STAFF'].indexOf(that.removeFlag.todo),1);
          }
//          that.detail.todo[that.removeFlag.todo.role].splice(that.detail.todo[that.removeFlag.todo.role].indexOf(that.removeFlag.todo), 1);
          that.removeFlag = null;
          console.log(that.removeFlag);
          EventBus.$emit('snackbar','SUCCESS');
        }, function (err) {
          that.removeFlag = null;
          console.log(err, that.removeFlag);
          EventBus.$emit('snackbar','FAILURE');
        });

      },
      setRemoveTodo: function (data) {
        console.log('setremove receive:', data);
        this.removeFlag = data;
      },
      bind: function (studentId, staffEmail, role) {
        var that = this;
        StudentService.bindStaff(studentId, staffEmail, function (data) {
          console.log('bind success', role, data);
          that.bindHandler(data, 'bind', role);

          //TODO: query.js should return contact json instead
        }, function (err) {
          console.log(err);
          EventBus.$emit('snackbar','FAILURE')
        })
      },
      unbind: function (staffEmail, role) {
        var that = this;
        console.log(staffEmail);
        StudentService.unbindStaff(this.detail.stud.id, staffEmail, function (data) {
          console.log('unbind success!', data);
          EventBus.$emit('snackbar','');//todo
          that.bindHandler(data, 'unbind', role)
        }, function (err) {
          console.log(err);
          EventBus.$emit('snackbar','');//todo
        })
      },
      activityHandler: function (res, data) {
        if (res.status === 200) {
          console.log(res, data);
          data.id = res.body.message;
          this.detail.activity.push(data);
          this.clearVal(this.activityToInsert);
          $('#extraWeek').val('');
        } else {
          console.log('unknown err', res);
        }
      },
      bindHandler: function (res, mode, role) {
        if (res.status === 200) {
          EventBus.$emit('snackbar','SUCCESS')
          if (mode === 'bind') {
            this.detail.relation[role] = JSON.parse(res.body.message);
          } else {
            this.detail.relation[role] = null;
          }
        } else {
          EventBus.$emit('snackbar','FAILURE')
        }
      },
      getTodoData: function () {
//        var date = new Date(this.todoInsert.duedate).toLocaleDateString();
        var todo = {
          'due_date': this.todoInsert.duedate,
          'complete': false,
          'relation_id': this.detail.stud.id,
          'content': this.todoInsert.todo_content,
          'recent_modifier': sessionStorage.getItem('role'),
          'role': this.todoInsert.role,
        }
        console.log('getTodo: ',todo,this.todoInsert.role);
        return todo
      },
      clearVal: function (obj) {
        for (var i in obj) {
//            console.log(i,obj[i]);
          obj[i] = '';
        }
      },
      chageHours: function () {
        this.hours.forEach((hour, index, arr) => {
          arr.splice(index, 1, hour + this.getRandomArbitrary(0, 4));
        });
      },
      chageHappis: function () {
        this.happi.forEach((hour, index, arr) => {
          arr.splice(index, 1, hour + this.getRandomArbitrary(0, 4));
        });
      },
      getRandomArbitrary: function (min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
      },
      updateTier: function (data) {
        this.activityToInsert.activity_tier = data;
      },
      updateHappi: function (data) {
        this.activityToInsert.activity_happi = data;
      },
      updateHour: function (data) {
        this.activityToInsert.activity_hours = data;
      },
      updateType: function (data) {
        this.activityToInsert.activity_type = data;
      },
      updateTodoRole: function (data) {
        this.todoInsert.role = data;
      },
      updateStudInfo:function(field){
        StudentService.updateStudentData(this.detail.stud.id, field, this.detail.stud[field],
          function (data) {
            EventBus.$emit('snackbar','SUCCESS');
          },
          function (err) {
            console.log(err);
            EventBus.$emit('snackbar','FAILURE');
          });
      },
      initialdueDateToLocalDate() {
        if (!this.detail.todo) {
          return;
        }
        for (var i in this.detail.todo) {
          this.detail.todo[i].forEach((v, index, arr) => {
            arr[index]['due_date'] = this._getDate(v['due_date'])
          });
        }
      },
      _getDate(date) {
        try {
          return new Date(date).toLocaleDateString()
        } catch(e) {
          console.log(e)
          return "N.A"
        }
      },
      initialcreateDateToLocalDate() {
        if (!this.detail.activity) return
        for (var i in this.detail.activity) {
//          console.log(this.detail.activity[i].create_date)
          this.detail.activity[i].create_date = this._getDate(this.detail.activity[i].create_date)
          this.detail.activity[i].meet_date = this._getDate(this.detail.activity[i].meet_date)
//          console.log(this.detail.activity[i].create_date)
        }
      },
      updateExtracurrilarDate(data) {
        this.activityToInsert.activity_date = data;
      },
      showExtracurricalerDate() {
        this.extracurricalr_showdate = true;
      },
      showTodoDueDate() {
        this.todoInsert.duedateshow = true;
      },
      updateTodoDate(data) {
        this.todoInsert.duedate = data;
      },
      uploadPortrait(option) {
        EventBus.$emit('cropImg',{
          imgUrl:this.portraitUrl,
          receiver:this,
          targetID:this.detail.stud.id,
          options:option,
        });
      },
      receiveImgFromCrop(img) {
//        console.log('receive img: ',img);
        this.portraitUrl = img;
      },
      formatDate(date) {
        return window.moment(date).format('L');
      },
      NameDropDownActivate() {
        console.log('click name drop',$('#name').dropdown('open'))
        $('#name').dropdown('open')
      },
      setActName(name) {
        this.$set(this.activityToInsert,'activity_name',name)
      },
      checkLock:function () {
        if (this.lock) {
          console.log('scroll enable');
          $('body').css('overflow-y','hidden')
        } else {
          console.log('scroll disable');
          $('body').css('overflow-y','scroll')
        }
      }
    },
    mounted(){
      $('.collapsible').collapsible('open', 0);
      $('.collapsible').collapsible('open', 1);
      $('.collapsible').collapsible('open', 2);
      $('.collapsible').collapsible('open', 3);
      $('select').material_select();
      $('a.medium-text').css('font-size','1.1em');
//      $('.dropdown-button').dropdown({
//          inDuration: 300,
//          outDuration: 225,
//          constrainWidth: false, // Does not change width of dropdown to that of the activator
//          hover: true, // Activate on hover
//          gutter: 0, // Spacing from edge
//          belowOrigin: true, // Displays dropdown below the button
//          alignment: 'left', // Displays dropdown with edge aligned to the left of button
//          stopPropagation: false // Stops event propagation
//        }
//      );

      EventBus.$on('studentDetails', data => {
//        console.log(data);
        this.detail = data;
        this.portraitUrl = '/v1/portrait/'+this.detail.stud.id;
        EventBus.$emit('GainBadges',this.detail.stud.badges);
        this.initialdueDateToLocalDate();
        this.initialcreateDateToLocalDate()
//        this.initialStatistic();
//        this.calculate();
      });
      EventBus.$on('delete-todo',data => {
        console.log(data,this);
        this.removeItem();
      });
      EventBus.$on('UpdateBadges',data=>{
          if (!data || !data.mode || !data.badgeId) {
              return;
          }
          if (data.mode === 'remove'){
              StudentService.removeOneBadge(this.detail.stud.id,data.badgeId,
                function (data) {
                  console.log('update badges',data);
                  EventBus.$emit('snackbar','SUCCESS');
                },function (err) {
                  console.log('update badges err: ',err);
                  EventBus.$emit('snackbar','FAILURE');
              });
          } else {
            StudentService.addOneBadge(this.detail.stud.id,data.badgeId,
              function (data) {
                console.log('update badges',data);
                EventBus.$emit('snackbar','SUCCESS');
              },function (err) {
                console.log('update badges err: ',err);
                EventBus.$emit('snackbar','FAILURE');//todo
              });
          }
      });
    },
    beforeDestroy() {
      EventBus.$off('studentDetails');
      EventBus.$off('delete-todo');
      EventBus.$off('UpdateBadges');
    },
  }
</script>

<style>
  .tab_content {
    height: calc(100vh - 220px);
  }
  .padding-up{
    padding-top: 10px;
    border-radius: 0.5em;
  }
  .white-back{
    background-color: white;
    border-radius: 0.5em;
  }
</style>
