<template>
  <div  class="row detail_top">
    <table class="bordered responsive-table">
      <thead>
        <tr>
          <th>Native Name (in original characters)</th>
          <th>English Name</th>
          <th>Gender</th>
          <th>HomeTown</th>
          <th>Counselor</th>
          <th>DOE</th>
          <th>FT</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(stu,index) in students">
          <td>{{stu.NN}}</td>
          <td>{{stu.EN}}</td>
          <td>{{stu.gender}}</td>
          <td>{{stu.hometown || 'Not Designated'}}</td>
          <td>{{stu.PMC}}</td>
          <td>{{stu.DOE}}</td>
          <td>{{stu.FT}}</td>
          <td><a @click="getStudentDetail(stu.STUDID)" class="waves-effect waves-light btn">DETAIL</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import StudentService from '../services/StudentService';
  import {EventBus} from '../eventhub';

  export default {
    components: {
    },
    methods: {
      getStudentDetail(id) {
        $('.carousel').carousel('next');
//        this.$emit('detail');
        if (id) {
          // use this id to request data from server
//          console.log('req detail for ',id);
          StudentService.getStudentDetail(id,
            (res)=>{
//              console.log(res);
              EventBus.$emit('studentDetails', res);
            },
            (err)=>{alert(JSON.stringify(err))}
          );
        }
      }
    },
    data() {
      return {
        students: [],
      }
    },
    mounted() {
      StudentService.login();
      StudentService.getstudentSummary(
        (res)=>{ this.students = res },
        (err)=>{ alert(JSON.stringify(err)) }
      );
    },
  }
</script>
