<template>
  <div id="app">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=PT Sans Narrow' rel='stylesheet'>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
